<h1><?php echo $this->Html->image('/coreadmin/img/icons/lista.png') ?> <?php echo __('Banners'); ?></h1>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Banner.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Banner.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Banner.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Banner.id'))); ?>
            </li>
            </ul>
</div>
<div class="bloc clear">
    <div class="content">
        <div>
            <table class="noalt">
                <tbody>
                    <tr>		<td width="120"><h4><?php echo __('Id'); ?></h4></td>
		<td>
			<?php echo $banner['Banner']['id']; ?></td>
</tr><tr>		<td><h4><?php echo __('Banner'); ?></h4></td>
		<td>
			<?php echo $this->Html->link($this->PhpThumb->thumbnail('uploads/' . $banner['Banner']['banner'], array('w' => 240, 'h' => 240, 'zc' => 1)), '/uploads/' . $banner['Banner']['banner'], array('escape' => false, 'class' => 'fancybox')); ?></td>
</tr><tr>		<td><h4><?php echo __('Title'); ?></h4></td>
		<td>
			<?php echo $banner['Banner']['title']; ?></td>
</tr><tr>		<td><h4><?php echo __('Url'); ?></h4></td>
		<td>
			<?php echo $banner['Banner']['url']; ?></td>
</tr><tr>		<td><h4><?php echo __('Created'); ?></h4></td>
		<td>
			<?php echo $this->Time->format( $banner['Banner']['created'] ); ?></td>
</tr>                </tbody>
            </table>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Banner.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Banner.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Banner.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Banner.id'))); ?>
            </li>
            </ul>
</div>
</br>
</br>
</br>
</br>
</br>

