body{
    font-size: 12px;
    font-family: Arial, Helvetica, Sans-serif;
    background: url(../img/bg.png);
}
.cb, .clear{
    clear: both;
}
.relative{
    position: relative;
}
#head, #head a.button, #head .search{
    background: url(../img/spriteh.png);
}
.logoAdmin{
    margin-left: 25px;
}
#content.login h1{
    text-align: center;
    line-height: 43px;
}
/*********************************************** HEADER ***********************************************************/
.rules.input h2{
    font: 12px Arial !important;
    clear: both;
    font-weight: bold !important;
    margin-top: 15px;
    float: left;
    margin-right: 10px;
    cursor: pointer;
}
.rules.input input{
    float: left;
    width: auto !important;
}
.rules.input div{
    position: relative;
    float: left;
    margin-right: 10px;
    line-height: 19px;
    margin-top: 13px;
}
#head{
    height: 40px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    line-height: 40px;
    border: 1px solid #000000;
    color: #AEAEAE;
    /*+text-shadow:0px 1px 0px #000000;*/
    -moz-text-shadow: 0px 1px 0px #000000;
    -webkit-text-shadow: 0px 1px 0px #000000;
    -o-text-shadow: 0px 1px 0px #000000;
    text-shadow: 0px 1px 0px #000000;
    z-index: 999;
}
#head .left{
    position: absolute;
    left: 15px;
    top: 0;
}
#head .right{
    position: absolute;
    top: 0;
    right: 15px;
}
#head a{
    color: #FFFFFF;
    text-decoration: none;
}
#head a:hover{
    text-decoration: underline;
}
#head a.button{
    border: 1px solid #222222;
    /*+border-radius:5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    margin-top: 6px;
    margin: 6px 10px 0px 0px;
    line-height: 32px;
    text-align: center;
    background-position: 0px -40px;
}
#head .button.profile img{
    margin-top: 4px;
}
#head .logo{ 
    float:left;
    margin-right: 10px;
}
/** Search Form **/
.fotoAtual{
    clear: both;
    float: left;
}
#head .search{
    display: inline-block;
    position: relative;
    width: 215px;
    height: 25px;
    background-position: 0px -65px;
    margin-top: 5px;
    margin-bottom: 10px;
    /*+border-radius:5px;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #505050;
    vertical-align: middle;
    margin-left: 10px;
}
#head .search input.text{
    position: absolute;
    border: none;
    background: none;
    width: 194px;
    line-height: 22px;
    padding: 0 5px;
    color: #CCC;
    /*+text-shadow:0 1px 0px #000;*/
    -moz-text-shadow: 0 1px 0px #000;
    -webkit-text-shadow: 0 1px 0px #000;
    -o-text-shadow: 0 1px 0px #000;
    text-shadow: 0 1px 0px #000;
}
#head .search input.submit{
    height: 25px;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    background: url(../img/search.png) no-repeat center center;
    border: none;
    cursor: pointer;
    text-indent: 3000px;
    overflow: hidden;
}
#head .search label{
    position: absolute;
    border: none;
    background: none;
    width: 194px;
    height: 22px;
    line-height: 25px;
    padding: 0 5px;
}
/*********************************************** SIDEBAR ***********************************************************/
#sidebar{
    position: fixed;
    z-index: 3;
    top: 42px;
    left: 0;
    bottom: 0;
    width: 240px;
    /*+text-shadow:0px 1px 0px #000000;*/
    -moz-text-shadow: 0px 1px 0px #000000;
    -webkit-text-shadow: 0px 1px 0px #000000;
    -o-text-shadow: 0px 1px 0px #000000;
    text-shadow: 0px 1px 0px #000000;
    background-color: #494949;
    border-right: 1px solid #1B1B1B;
    /*+box-shadow:inset -5px 0 5px #404040;*/
    -moz-box-shadow: inset -5px 0 5px #404040;
    -webkit-box-shadow: inset -5px 0 5px #404040;
    -o-box-shadow: inset -5px 0 5px #404040;
    box-shadow: inset -5px 0 5px #404040;
}
#sidebar>ul>li>a{
    height: 40px;
    line-height: 40px;
    text-indent: 30px;
    display: block;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
    color: #AAAAAA;
    /*+text-shadow:0px 1px #0D0D0D;*/
    -moz-text-shadow: 0px 1px #0D0D0D;
    -webkit-text-shadow: 0px 1px #0D0D0D;
    -o-text-shadow: 0px 1px #0D0D0D;
    text-shadow: 0px 1px #0D0D0D;
    background: #494949 url(../img/arrow.png) no-repeat 96% -5px;
    border-bottom: 1px solid #313131;
    border-top: 1px solid #606060;
}
#sidebar>ul>li>ul>li ul{
    margin-left: 20px;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    border: none;
}
#sidebar ul li a img{
    vertical-align: text-bottom;
    padding-right: 4px;
    /*+opacity:49%;*/
    filter: alpha(opacity=49);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=49);
    -moz-opacity: 0.49;
    opacity: 0.49;
    margin-top: 13px;
}
#sidebar ul li:hover a img, #sidebar ul li.current a img{
    /*+opacity:100%;*/
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
#sidebar ul li.nosubmenu a{
    background-image: none !important;
}
#sidebar>ul>li:hover>a, #sidebar>ul>li.current>a{
    color: #FFF;
    background-position: 96% -53px !important;
    background-color: #585858;
}
#sidebar ul li ul{
    background: #404040;
    /*+box-shadow:inset 0 0 15px #3A3A3A;*/
    -moz-box-shadow: inset 0 0 15px #3A3A3A;
    -webkit-box-shadow: inset 0 0 15px #3A3A3A;
    -o-box-shadow: inset 0 0 15px #3A3A3A;
    box-shadow: inset 0 0 15px #3A3A3A;
    border-bottom: 1px solid #313131;
    padding: 7px 0px;
}
#sidebar ul li li a{
    height: 28px;
    line-height: 28px;
    text-indent: 52px;
    display: block;
    text-decoration: none;
    font-weight: normal;
    font-size: 1em;
    background: transparent url(../img/sideli.png) no-repeat 37px 10px;
    color: #949090;
}
#sidebar ul li li a:hover, #sidebar ul li li.current a{
    background-position: 37px -31px;
}
#sidebar a:hover, #sidebar li.current>a{
    color: #FFF !important;
}
#sidebar a#menucollapse{ color:#AAA; display: block; height:40px; line-height: 40px; text-align: right; padding-right: 10px; text-decoration: none; font-style:italic; }
#sidebar a span{ color:#AAA; border: 1px solid #AAA; border-radius:20px; width: 17px; height: 17px; display: inline-block; text-align: left; text-indent: 2px; line-height: 16px;background-image: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,0.2)); }

.collapsed #sidebar{width: 54px; }
.collapsed #sidebar>ul>li{ position: relative; }
.collapsed #sidebar>ul>li>a{ width: 52px; overflow: hidden; background-image:none!important; text-indent: 17px; -webkit-transition:0.3s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s;}
.collapsed #sidebar>ul>li:hover>a{ width: 200px;}
.collapsed #sidebar>ul>li ul{ position: absolute; width: 146px; left:-150px; -webkit-transition:0.5s;-moz-transition:0.3s;-o-transition:0.3s;-ms-transition:0.3s;transition:0.3s; display: block!important;}
.collapsed #sidebar>ul>li ul ul{ left:0; margin-left: 0px; }
.collapsed #sidebar>ul>li:hover>ul{   overflow: visible; left:54px;  }
.collapsed #sidebar>ul>li ul li a{ text-indent: 10px; background:none; overflow: hidden;}
.collapsed #sidebar>ul>li ul ul li a{ text-indent: 20px; }
.collapsed #sidebar>ul>li ul ul ul li a{ text-indent: 40px; }
.collapsed #content{ margin-left: 90px;}

/*********************************************** CONTENT ***********************************************************/
#content{
    margin: 28px 40px 0px 280px;
    color: #6D6D6D;
    padding: 0px 0px 20px;
    font-size: 12px;
    position: relative;
}
#content.nosidebar{
    margin-left: 40px;
}
#content a{
    color: #494949;
}
#content a:hover{
    color: #494949;
    text-decoration: underline;
}
#content em, #content em a{
    font-style: italic;
    color: #B2B2B2;
    font-weight: normal;
}
#content strong{
    font-weight: bold;
    color: #1A1616;
}
#content pre{
    font-style: italic;
    font-size: 1.1em;
}
#content h1{
    font-family: 'Droid Sans', sans-serif;
    color: #000000;
    /*+text-shadow:0px 1px 0px #EDEDED;*/
    -moz-text-shadow: 0px 1px 0px #EDEDED;
    -webkit-text-shadow: 0px 1px 0px #EDEDED;
    -o-text-shadow: 0px 1px 0px #EDEDED;
    text-shadow: 0px 1px 0px #EDEDED;
    font-size: 27px;
    font-weight: normal;
    height: 32px;
    padding-top: 35px;
    letter-spacing: 1px;
    line-height: 34px;
}
#content h1 a{
    color: inherit;
}
#content h1 span{
    font-size: 16px;
}
#content .bloc:first-child{
    margin-top: 65px;
}
#content h1 img{
    vertical-align: top;
}
#content .bloc.listagem .content{
    padding-bottom: 40px;
}
#content .bloc{
    margin: 20px 0px 0px;
    background-color: #FFFFFF;
    /*+box-shadow:0px 5px 10px #AFAEAE;*/
    -moz-box-shadow: 0px 5px 10px #AFAEAE;
    -webkit-box-shadow: 0px 5px 10px #AFAEAE;
    -o-box-shadow: 0px 5px 10px #AFAEAE;
    box-shadow: 0px 5px 10px #AFAEAE;
}
#content .left, #content .right{
    width: 49%;
    float: left;
}
#content .right{
    float: right;
}
#content .bloc .title{
    height: 35px;
    position: relative;
    background: url(../img/bloctitle.png);
    line-height: 34px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: #808080;
    /*+text-shadow:0 -1px 0px #000;*/
    -moz-text-shadow: 0 -1px 0px #000;
    -webkit-text-shadow: 0 -1px 0px #000;
    -o-text-shadow: 0 -1px 0px #000;
    text-shadow: 0 -1px 0px #000;
}
.tabs a{
    cursor: pointer;
}
.tabContent{
    display: none;
}
.tabContent.active{
    display: block;
}
#content .bloc .title .toggle{
    display: block;
    height: 18px;
    width: 18px;
    background: url(../img/slidebuttons.png) left top;
    position: absolute;
    top: 8px;
    right: 10px;
}
#content .bloc .title .toggle.hide{
    background-position: top right;
}
#content .good{
    color: #6F9106;
}
#content .neutral{
    color: #FF7400;
}
#content .bad{
    color: #C21C1C;
}
/*Modal content*/
.modal #content{
    margin: 0;
    padding: 0px;
}
.modal #content .bloc{
    margin: 0px;
    padding: 0px;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}
/**  Login **/
#content.login{
    width: 350px;
    margin: 90px auto 0;
}
#content.login .notif{
    margin: 12px 0px 16px;
}
#content.login div.input{
    height: 33px;
    line-height: 33px;
    margin-bottom: 13px;
    position: relative;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    background-color: #B2B2B2;
    border: 1px solid #0E0D0D;
    border: 1px solid #303030;
    /*+box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.6);*/
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    -o-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.6);
    margin-top: 16px;
}
#content.login div.input input{
    position: absolute;
    top: 0;
    left: 0;
    width: 329px;
    height: 32px;
    background: transparent;
    border: none;
    color: #3A3636;
    padding: 0 10px;
}
#content.login div.input label{
    position: absolute;
    top: 0;
    left: 10px;
    height: 33px;
    line-height: 33px;
    color: #3A3636;
}
#content.login div.submit{
    float: right;
    width: 97px;
    text-align: right;
    width: 100%;
    position: relative;
}
#content.login div.submit .lostpassword{
    text-align: left;
    position: absolute;
    left: 0;
    top: 5px;
}
#content.login div.submit .register{
    text-align: left;
    position: absolute;
    left: 0;
    top: 22px;
}
#content.login .checkbox{
    background: none !important;
    /*+box-shadow:none;*/
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    box-shadow: none !important;
    border: none !important;
}
#content.login div.checkbox{
    float: left;
    width: 229px;
    margin-top: 3px;
}
#content.login div.checkbox label{
    cursor: pointer;
}
#content.login div.submit input{
    /*+box-shadow:0px 2px 5px #202020;*/
    -moz-box-shadow: 0px 2px 5px #202020;
    -webkit-box-shadow: 0px 2px 5px #202020;
    -o-box-shadow: 0px 2px 5px #202020;
    box-shadow: 0px 2px 5px #202020;
}
/**  Texts **/
#content .bloc .content h1{
    color: #000000;
    font-family: Arial, Helvetica, Sans-serif;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    margin: 0px;
    padding: 10px 0;
    font-weight: bold;
}
#content .bloc .content h1, #content .bloc .content h2, #content .bloc .content h3, #content .bloc .content h4, #content .bloc .content h5{
    color: #000000;
    font-weight: bold;
    padding: 0 0px 5px;
}
#content .bloc .content h2{
    color: #1B1B1B;
    font-size: 25px;
}
#content .bloc .content h3{
    color: #282828;
    font-size: 22px;
}
#content .bloc .content h4{
    color: #404040;
    font-size: 20px;
}
#content .bloc .content h5{
    color: #5A5656;
    font-size: 18px;
}
#content .bloc .content p{
    padding: 5px 0 10px;
    line-height: 1.5em;
}
#content .bloc .content p.qtd{
    text-align: right;
}
#content .bloc .content ul, #content .bloc .content ol{
    list-style: disc;
    margin-left: 25px;
    line-height: 1.5em;
    padding: 4px 0 10px;
}
#content .bloc .content ul.toolbar{
    padding: 3px 0px 0px 3px;
    margin: 0px;
    border: 0;
}
#content .bloc .content ul.toolbar li:hover{
    border: 1 solid #FFFFFF;
    background-color: #D9D6D6;
}
#content .wysiwyg{
    margin: 1px;
    padding: 0px;
}
#content .bloc .content ol{
    list-style: decimal;
}
#content .bloc .content{
    padding: 10px;
    background-color: #F7F7F7;
    background-color: #F7F7F7;
    position: relative;
}

#content .loader{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background:url(../img/loader.gif) center center no-repeat rgba(255,255,255,0.7);
    z-index:9998; 
}
/**  Tabs **/
#content .title .tabs{
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 31px;
}
#content .title .tabs a{
    padding: 1px 21px 0;
    /*+border-radius:6px 6px 0 0;*/
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
    color: #B2B2B2;
    text-decoration: none;
    margin: 5px 0 0px 0px;
}
#content .title .tabs a.active, #content .title .tabs a:hover{
    color: #000;
    border: 1px solid #CFD1D4;
    border-bottom: none;
    background-color: #F7F7F7;
    padding: 0 20px;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}
/** Shortcuts**/
#content .center{
    margin: 0 auto;
}
#content .bloc .shortcut{
    width: 105px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    color: #6D6D6D;
    border: 1px solid #D0D2D4;
    position: relative;
    display: inline-block;
}
#content .bloc .shortcut span{
    color: #FFFFFF;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
    background: url(../img/notif.png);
}
#content .bloc .shortcut:hover{
    color: #2D2D2D;
    border: 1px solid #6F7275;
    background-color: #DBDCDE;
}
#content .bloc .shortcut img{
    display: block;
    margin: 0 auto 10px;
    max-width: 48px;
    max-height: 48px;
}
/** Table **/
#content table{
    width: 100%;
    text-align: left;
}
#content table .picture img{
    border: 4px solid #DFDFDF;
    margin: 7px;
    padding: 0px;
}
#content table .picture a:hover img{
    border-color: #BDBDBD;
}
#content table h1, #content table h2, #content table h3, #content table h4, #content table h5{
    display: inline;
}
#content table thead th{
    border-bottom: 1px solid #BDBDBD;
}
#content table thead tr th{
    font-weight: bold;
    color: #151515;
    font-size: 1.1em;
    padding-bottom: 2px;
}
#content table thead tr th.actions{
    text-align: right;
    padding-right: 10px;
}
#content table thead tr th a{
    color: #151515;
}
#content table tbody tr td{
    height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #FFFFFF;
}
#content table tbody tr:nth-child(2n+1) td{
    background-color: #F0F0F0;
}
#content table tbody tr:hover td{
    background-color: #EAEAEA;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #E2E2E2;
}
#content table tbody tr td.actions{
    padding-right: 5px;
}
#content .bloc .content table tbody tr td.actions ul{
    float: right;
    padding: 2px 0;
}
#content table tbody tr td.actions ul li{
    float: left;
    margin-left: 5px;
}
#content table tbody tr td.actions ul li img{
    width: 20px;
    margin-top: 8px;
}
.acoesMultiplas{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 10px 10px 10px;
}
.acoesMultiplas button{
    margin-right: 8px;
    float: left;
}
#content table.noalt tbody tr td{
    background-color: transparent !important;
    border-bottom: 1px solid #DADBDD;
}
#content table.noborder tbody tr td{
    border: none;
}
#content table tbody tr td img{
    padding-right: 5px;
}
/** Pagination**/
#content .pagination{
    text-align: right;
    margin: 10px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    /*[empty]border:;*/
}
#content .pagination .ui-button-text-only .ui-button-text {
    padding: 0.4em 0.9em;
}
#content .pagination a{
    display: inline-block;
}
#content .pagination .current{
    color: #738225;
}
#content .pagination .disabled{
    display: none;
}
.ListImage{
    width: 18px;
    margin-left: 7px;
    cursor: pointer;
}

/** Notification **/
#content .notif{
    position: relative;
    padding: 15px 15px;
    color: #404040;
    background-color: #eedc94;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
#content .content .notif{
    margin-bottom: 10px;
}
#content .notif .close{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
    text-decoration: none;
}
#content .notif .close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
#content .notif strong{
    font-weight: bold;
    color:inherit;
}
#content .notif.success{
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFF;
}
#content .notif.error,#content .bloc .notif.error{
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFF!important;
}
#content .notif.info{
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFF;
}
/**  Forms **/
#content .bloc .input{
    clear: both;
    float: left;
    padding: 5px 0 10px;
}
#content .bloc .input.inline{
    display:inline-block;
}

#content .bloc label{
    display: block;
    color: #2C2C2C;
    padding-bottom: 10px;
    font-size: 14px;
}
#content .bloc .required label{
    font-weight: bold;
}
#content .bloc .input label span{
    color: #0877A6;
}
#content .bloc .input input, #content .bloc .input select{
    border: 1px solid #C8CACC;
    width: 500px;
    display: block;
    padding: 6px 5px;
}
#content .bloc .input input.color{
    width: 25px;
}
#content .bloc .input textarea{
    border: 1px solid #C8CACC;
    font: 13px Arial;
}
#content .bloc .input select{
    padding: 5px 5px 5px 0;
    padding-left: 5px;
    height: auto;
}
#content .bloc .checkbox input{
    width: auto;
    display: inline-block;
    height: auto;
}
#content .bloc .input label.inline{
    color: #6D6D6D;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    height: 14px;
    line-height: 23px;
}
#content .bloc .input select{
    width: auto;
}
#content .bloc .input textarea{
    width: 98%;
    padding: 1%;
}
input.datepicker{
    background: white url(../img/calendar.png) no-repeat right center;
}
#content .bloc .medium input{
    width: 50%;
}
#content .bloc .long input, #content .bloc .full input{
    width: 98%;
    padding: 0 1%;
}
#content .bloc .error, #content .bloc .error label, #content .bloc .error input, #content .error-message, #content .error textarea{
    color: #9D261D !important;
    border-color: #C87872 !important;
}
#content .bloc .error input, #content .bloc .error textarea{
    background-color: #FAE5E3 !important;
}
#content .bloc .loading input, input.loading{
    background:url(../img/loader.gif) right center #FFF no-repeat!important; 
    padding-right: 35px;
}
#content .error-message{
    display: block;
}
/** Gallery **/
#content .gallery{
    text-align: left;
    margin: 28px 0 0 !important;
    padding: 0 !important;
}
#content .bloc .gallery{
    margin-top: 0 !important;
}
#content .gallery li{
    display: inline-block;
    padding: 5px;
    position: relative;
    margin: 5px;
    /*+box-shadow:0px 3px 5px #A3A3A3;*/
    -moz-box-shadow: 0px 3px 5px #A3A3A3;
    -webkit-box-shadow: 0px 3px 5px #A3A3A3;
    -o-box-shadow: 0px 3px 5px #A3A3A3;
    box-shadow: 0px 3px 5px #A3A3A3;
    text-align: center;
    background: #FFF;
}
#content .gallery li span.info{
    display: block;
    text-align: left;
}
#content .gallery li .del{
    background: url(../img/close2.png);
    width: 30px;
    height: 30px;
    display: none;
    position: absolute;
    top: -6px;
    right: -10px;
    text-indent: 3000px;
    text-decoration: none;
}
#content .gallery li .large{
    position: absolute;
    bottom: 5px;
    right: 5px;
    background: url(../img/enlarge.jpg);
    width: 19px;
    height: 19px;
    text-indent: 3000em;
    display: none;
}
#content .gallery li .over{
    position: absolute;
    text-align: center;
    top: 50%;
    margin-top: -18px;
    width: 100%;
    text-decoration: none;
    display: none;
}
#content .gallery li .over span{
    color: #FFF;
    text-decoration: none;
    background: #292828;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px;
    display: inline;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}
.checker{
    clear: both;
}
.checkbox .checker{
    position: absolute;
    bottom: 15px;
    left: 0;
}
.input.checkbox{
    height: 56px;
    position: relative;
}

#content .gallery li:hover .del, #content .gallery li:hover .over, #content .gallery li:hover .large{
    display: block;
}
#content .gallery li:hover img{
    /*+opacity:30%;*/
    filter: alpha(opacity=30);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
    -moz-opacity: 0.3;
    opacity: 0.3;
}
/*Input colors*/
#content .bloc .input textarea, #content .bloc .input input, #content .selector, #content .uploader{
    clear: both;
}
#content .selector, #content .uploader{
    border: 1px solid #DDDCDC;
    /*+box-shadow:inset 2px 1px 5px #CBC9C9;*/
    background: #FFFFFF;
    clear: both;
    cursor: pointer;
}
.textarea{
    width: 100%;
}
#content .bloc .input textarea:focus, #content .bloc .input input:focus{
    border: 1px solid #79A21E;
    /*+box-shadow:inset 2px 1px 5px #88BCD7;*/
}
/*Range input*/
#content .ui-slider-horizontal{
    width: 350px;
    background: url(../img/range.png) no-repeat right -35px;
    height: 10px;
    border: none;
}
#content .ui-slider-range{
    background: url(../img/range.png) no-repeat left -25px;
    border: none;
}
#content .ui-slider-handle{
    width: 25px;
    height: 25px;
    background: url(../img/range.png) no-repeat;
    border: none;
    top: -7px;
    margin-left: -13px;
    cursor: pointer;
}

/*Checkbox/Radio*/
.selector, .checker, .button, .radio, .uploader{
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}
.selector span, .checker span, .button span, .radio span, .uploader span{
    display: block;
}
#content .checker:hover, #content .radio:hover{
    /*+box-shadow:0px 0px 10px #D2D2D2;*/
    -moz-box-shadow: 0px 0px 10px #D2D2D2;
    -webkit-box-shadow: 0px 0px 10px #D2D2D2;
    -o-box-shadow: 0px 0px 10px #D2D2D2;
    box-shadow: 0px 0px 10px #D2D2D2;
}
#content .checker, #content .checker span, #content .checker input, #content .radio, #content .radio span, #content .radio input{
    width: 50px !important;
    height: 24px !important;
    cursor: pointer;
    margin-bottom: 4px;
    margin-right: 5px;
}
#content .checker span, #content .radio span{
    background: url(../img/checkbox.png) bottom left;
}
#content .checker span.checked, #content .radio span.checked{
    background-position: top left;
}
/*Select*/
#content .selector, #content .selector select, #content .selector span{
    width: 162px !important;
    height: 28px;
    position: relative;
    padding: 0px;
    margin: 0px;
    display: block;
}
#content .selector span{
    background: none;
    position: absolute;
    line-height: 29px;
    background: url(../img/select.png) no-repeat 98% center;
    text-indent: 10px;
}
#content .selector.focus{
    border: 1px solid #59C7FF;
    /*+box-shadow:inset 2px 1px 5px #88BCD7;*/
    -moz-box-shadow: inset 2px 1px 5px #88BCD7;
    -webkit-box-shadow: inset 2px 1px 5px #88BCD7;
    -o-box-shadow: inset 2px 1px 5px #88BCD7;
    box-shadow: inset 2px 1px 5px #88BCD7;
}
/*Upload*/
#content .uploader{
    width: 510px !important;
    height: 28px;
    padding: 0px;
    margin: 0px;
    clear: both !important;
}
#content .uploader input{
    position: absolute;
    width: 500px !important;
    height: 25px;
    z-index: 50;
}
#content .uploader span{
    height: 28px;
    line-height: 28px;
}
#content .uploader span.action{
    background: url(../img/buttons.png) left -68px;
    border: 1px solid #79a21e;
    /*+text-shadow:0px -1px 0px #2C6AA3;*/
    -moz-text-shadow: 0px -1px 0px #79a21e;
    -webkit-text-shadow: 0px -1px 0px #79a21e;
    -o-text-shadow: 0px -1px 0px #79a21e;
    text-shadow: 0px -1px 0px #79a21e;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0 5px;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    /*+box-shadow:0px 1px 5px #B2B2B2;*/
    -moz-box-shadow: 0px 1px 5px #B2B2B2;
    -webkit-box-shadow: 0px 1px 5px #B2B2B2;
    -o-box-shadow: 0px 1px 5px #B2B2B2;
    box-shadow: 0px 1px 5px #B2B2B2;
    height: 24px;
    line-height: 24px;
    margin-top: 1px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    cursor: pointer;
}
#content .uploader.hover span.action, #content .uploader span.action:hover{
    background: #79a21e;
    color: #FFFFFF;
    text-decoration: none;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
/*Submit*/
#content .submit{
    clear: both;
}
#content .submit input, #content .button{
    background: url(../img/buttons.png) left -68px;
    border: 1px solid #79a21e;
    /*+text-shadow:0px -1px 0px #2C6AA3;*/
    -moz-text-shadow: 0px -1px 0px #79a21e;
    -webkit-text-shadow: 0px -1px 0px #79a21e;
    -o-text-shadow: 0px -1px 0px #79a21e;
    text-shadow: 0px -1px 0px #79a21e;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
    /*+box-shadow:0px 1px 5px #B2B2B2;*/
    -moz-box-shadow: 0px 1px 5px #B2B2B2;
    -webkit-box-shadow: 0px 1px 5px #B2B2B2;
    -o-box-shadow: 0px 1px 5px #B2B2B2;
    box-shadow: 0px 1px 5px #B2B2B2;

}
#content .button img{
    vertical-align: text-top;
    /*+opacity:65%;*/
    filter: alpha(opacity=65);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
    -moz-opacity: 0.65;
    opacity: 0.65;
}
#content .button:hover img{
    /*+opacity:100%;*/
    filter: alpha(opacity=100);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
#content .submit input:hover, #content .button:hover{
    background: #79a21e;
    color: #FFFFFF;
    text-decoration: none;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
#content .black, #content .submit input.black{
    background: url(../img/buttons.png);
    border: 1px solid #151515;
    /*+text-shadow:0px -1px 0px #050505;*/
    -moz-text-shadow: 0px -1px 0px #050505;
    -webkit-text-shadow: 0px -1px 0px #050505;
    -o-text-shadow: 0px -1px 0px #050505;
    text-shadow: 0px -1px 0px #050505;
    color: #929292;
}
#content .black:hover, #content .submit input.black:hover{
    background: #323232;
    color: #FFFFFF;
    text-decoration: none;
}
#content .white, #content .submit input.white{
    background: url(../img/buttons.png) left -34px;
    border: 1px solid #CCC;
    /*+text-shadow:0px -1px #FFFFFF;*/
    -moz-text-shadow: 0px -1px #FFFFFF;
    -webkit-text-shadow: 0px -1px #FFFFFF;
    -o-text-shadow: 0px -1px #FFFFFF;
    text-shadow: 0px -1px #FFFFFF;
    /*+box-shadow:0px 1px 5px #EAEAEA;*/
    -moz-box-shadow: 0px 1px 5px #EAEAEA;
    -webkit-box-shadow: 0px 1px 5px #EAEAEA;
    -o-box-shadow: 0px 1px 5px #EAEAEA;
    box-shadow: 0px 1px 5px #EAEAEA;
    color: #606060;
}
#content .white:hover, #content .submit input.white:hover{
    background: #EAEAEA;
    color: #555555;
    text-decoration: none;
    background-image: none;
}
/**  iPhone checkbox**/
#content .iPhoneCheckContainer{
    position: relative;
    height: 27px;
    cursor: pointer;
    overflow: hidden;
}
#content .iPhoneCheckContainer input{
    position: absolute;
    top: 5px;
    left: 30px;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
}
#content .iPhoneCheckContainer label{
    white-space: nowrap;
    font-size: 17px;
    line-height: 17px;
    font-weight: bold;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
    height: 27px;
    position: absolute;
    width: auto;
    top: 0;
    overflow: hidden;
    padding: 5px 0px 0px !important;
    color: #FFFFFF !important;
}
#content .iPhoneCheckContainer, .iPhoneCheckContainer label{
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
}
#content .iPhoneCheckDisabled{
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
#content label.iPhoneCheckLabelOn, #content label.iPhoneCheckLabelOff{
    background: url('img/iphonecheck.png') no-repeat right bottom;
}
#content label.iPhoneCheckLabelOn{
    color: #FFFFFF;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    background-position: left top;
    left: 0;
    padding-top: 5px;
}
#content label.iPhoneCheckLabelOn span{
    padding-left: 8px;
    color: #B2D8E7 !important;
}
#content label.iPhoneCheckLabelOff{
    color: #CCCCCC;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.9);
    text-align: right;
    right: 0;
    background-position: 100% -27px;
}
#content label.iPhoneCheckLabelOff span{
    padding-right: 8px;
    color: #666464 !important;
}
#content .iPhoneCheckHandle{
    display: block;
    height: 27px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background: url('img/slider_left.png') no-repeat;
    padding-left: 3px;
}
#content .iPhoneCheckHandleRight{
    height: 100%;
    width: 100%;
    padding-right: 3px;
    background: url('img/slider_right.png') no-repeat right 0;
}
#content .iPhoneCheckHandleCenter{
    height: 100%;
    width: 100%;
    background: url('img/slider_center.png');
}
/** Charts *
plugin styles*/
#content .bloc .visualize{
    border: 1px solid #888;
    position: relative;
    background: #FAFAFA;
    margin: 20px auto;
}
#content .bloc .visualize canvas{
    position: absolute;
}
#content .bloc .visualize ul, #content .bloc .visualize li{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*table title, key elements*/
#content .bloc .visualize .visualize-info{
    padding: 3px 5px;
    background: #FAFAFA;
    border: 1px solid #888;
    position: absolute;
    top: -20px;
    right: 10px;
    opacity: .8;
}
#content .bloc .visualize .visualize-title{
    display: block;
    color: #333;
    margin-bottom: 3px;
    font-size: 1.1em;
}
#content .bloc .visualize ul.visualize-key{
    list-style: none;
}
#content .bloc .visualize ul.visualize-key li{
    list-style: none;
    float: left;
    margin-right: 10px;
    padding-left: 10px;
    position: relative;
}
#content .bloc .visualize ul.visualize-key .visualize-key-color{
    width: 6px;
    height: 6px;
    left: 0;
    position: absolute;
    top: 50%;
    margin-top: -3px;
}
#content .bloc .visualize ul.visualize-key .visualize-key-label{
    color: #000;
}
/*pie labels*/
#content .bloc .visualize-pie .visualize-labels{
    list-style: none;
}
#content .bloc .visualize-pie .visualize-label-pos, .visualize-pie .visualize-label{
    position: absolute;
    margin: 0;
    padding: 0;
}
#content .bloc .visualize-pie .visualize-label{
    display: block;
    color: #FFF;
    font-weight: bold;
    font-size: 1em;
}
#content .bloc .visualize-pie-outside .visualize-label{
    color: #000;
    font-weight: normal;
}
/*line,bar, area labels*/
#content .bloc .visualize-labels-x, #content .bloc .visualize-labels-y{
    position: absolute;
    left: 0;
    top: 0;
    list-style: none;
}
#content .bloc .visualize-labels-x li, #content .bloc .visualize-labels-y li{
    position: absolute;
    bottom: 0;
}
#content .bloc .visualize-labels-x li span.label, #content .bloc .visualize-labels-y li span.label{
    position: absolute;
    color: #555;
}
#content .bloc .visualize-labels-x li span.line, #content .bloc .visualize-labels-y li span.line{
    position: absolute;
    border: 0 solid #CCC;
}
#content .bloc .visualize-labels-x li{
    height: 100%;
}
#content .bloc .visualize-labels-x li span.label{
    top: 100%;
    margin-top: 5px;
}
#content .bloc .visualize-labels-x li span.line{
    border-left-width: 1px;
    height: 100%;
    display: block;
}
#content .bloc .visualize-labels-x li span.line{
    border: 0;
}
/*hide vertical lines on area, line, bar*/
#content .bloc .visualize-labels-y li{
    width: 100%;
}
#content .bloc .visualize-labels-y li span.label{
    right: 100%;
    margin-right: 5px;
    display: block;
    width: 100px;
    text-align: right;
}
#content .bloc .visualize-labels-y li span.line{
    border-top-width: 1px;
    width: 100%;
}
#content .bloc .visualize-bar .visualize-labels-x li span.label{
    width: 100%;
    text-align: center;
}
#content .bloc .visualize .stats_tooltip{
    margin: 3px 4px 0;
    padding: 6px 10px;
    background-color: #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    font-size: 10px;
    line-height: normal;
    text-shadow: none;
    text-align: center;
}
#content .bloc .visualize .stats_tooltip strong{
    color: #FFF;
}
.visualize-interaction-tracker:hover{
    cursor: help;
}
.ie8 .visualize-interaction-tracker{
    top: 240px;
}
/*IE hover Fixes - Added in 1.1
*  Calendar **/
#content .calendar .title{
    text-align: center;
    position: relative;
}
#content .calendar .title .next, #content .calendar .title .prev{
    display: block;
    width: 18px;
    height: 18px;
    vertical-align: sub;
    margin: 0 50px;
    background: url(../img/slidebuttons.png);
    position: absolute;
}
#content .calendar .title .next{
    background-position: 18px top;
    top: 8px;
    right: -13px;
}
#content .calendar .title .prev{
    background-position: 38px 0%;
    top: 8px;
    left: -35px;
}
#content .calendar .content{
    padding: 0;
    margin: 0px;
}
#content .calendar table{
    margin-right: 0px;
    border-collapse: collapse;
    vertical-align: top;
}
#content .calendar th{
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    border: 1px solid #C7C7C7;
    border-top: none;
    background: #FAFAFA;
    background: -moz-linear-gradient(top, #fafafa 0%, #eaeae9 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fafafa), color-stop(99%,#eaeae9));
    background: -webkit-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
    background: -o-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
    background: -ms-linear-gradient(top, #fafafa 0%,#eaeae9 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#eaeae9',GradientType=0 );
    background: linear-gradient(top, #fafafa 0%,#eaeae9 99%);
    height: 32px;
    color: #6D6D6D;
}
#content .calendar td{
    width: 14%;
    border: 1px solid #C5C5C5;
    background: #EEEEEE none;
    /*+box-shadow:inset 1px 1px 0px #FFFFFF;*/
    -moz-box-shadow: inset 1px 1px 0px #FFFFFF;
    -webkit-box-shadow: inset 1px 1px 0px #FFFFFF;
    -o-box-shadow: inset 1px 1px 0px #FFFFFF;
    box-shadow: inset 1px 1px 0px #FFFFFF;
    color: #383838;
    vertical-align: top;
    background: #F0F0F0;
    color: #6A6A6A;
    background: -moz-linear-gradient(top, #f0f0f0 0%, #e3e2e2 99%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f0f0f0), color-stop(99%,#e3e2e2));
    background: -webkit-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
    background: -o-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
    background: -ms-linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f0f0', endColorstr='#e3e2e2',GradientType=0 );
    background: linear-gradient(top, #f0f0f0 0%,#e3e2e2 99%);
}
#content .calendar td:hover{
    background: #EFEFEF;
    color: #FFFFFF;
    /*+text-shadow:0px 1px #FFFFFF;*/
    -moz-text-shadow: 0px 1px #FFFFFF;
    -webkit-text-shadow: 0px 1px #FFFFFF;
    -o-text-shadow: 0px 1px #FFFFFF;
    text-shadow: 0px 1px #FFFFFF;
    color: #000;
}
#content .calendar td.today{
    background: #949594 none;
    /*+box-shadow:inset 1px 1px 20px #515251;*/
    -moz-box-shadow: inset 1px 1px 20px #515251;
    -webkit-box-shadow: inset 1px 1px 20px #515251;
    -o-box-shadow: inset 1px 1px 20px #515251;
    box-shadow: inset 1px 1px 20px #515251;
    /*+text-shadow:0px 1px #336F9C;*/
    -moz-text-shadow: 0px 1px #336F9C;
    -webkit-text-shadow: 0px 1px #336F9C;
    -o-text-shadow: 0px 1px #336F9C;
    text-shadow: 0px 1px #336F9C;
    color: #FFFFFF;
    background: #337BB2;
    background: -moz-linear-gradient(top, #337bb2 0%, #43a6ce 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#337bb2), color-stop(100%,#43a6ce));
    background: -webkit-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
    background: -o-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
    background: -ms-linear-gradient(top, #337bb2 0%,#43a6ce 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#337bb2', endColorstr='#43a6ce',GradientType=0 );
    background: linear-gradient(top, #337bb2 0%,#43a6ce 100%);
}
#content .calendar td.padding, #content .calendar td.padding:hover{
    background: none;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
#content .calendar td .relative{
    height: 60px;
    display: block;
}
#content .calendar td .day{
    font-size: 25px;
    width: 0px;
    margin: 5px;
    color: inherit;
}
#content .calendar td.today .day{
    color: #FFFFFF;
}
#content .calendar .events span{
    color: #0A93CC;
    padding-right: 4px;
    font-weight: normal;
    font-style: italic;
}
#content .calendar .events a{
    color: #707070;
    text-decoration: none;
    font-size: 10.6pt;
}
#content .calendar .events a:hover{
    text-decoration: underline;
}
#content .calendar .today .events a{
    color: #FFFFFF;
}
#content .calendar .today .events span{
    color: #A7C9D8;
}
#content .calendar ul, #content .calendar ul li{
    list-style: none;
    margin: 0 0 0 3px !important;
    padding: 0 !important;
}
.tooltipsy{
    background: #000;
    background: rgba(0, 0, 0, 0.8);
    color: #FFFFFF;
    padding: 5px 10px;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
}
/***********************************************  COLORS **********************************************************
Background*/
.dark{
    background: url(../img/dark-bg.png);
}
.wood{
    background: url(../img/wood.jpg) fixed center top;
}
.dark #content .bloc{
    /*+box-shadow:0px 5px 15px rgba(0, 0, 0, 0.5);*/
    -moz-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}
.dark #content h1{
    color: #FFF;
    text-shadow: 0px 1px #000000;
}
/*White blocks*/
#content.white .bloc .title{
    background: url(../img/white-title.png);
    color: #2C2C2C;
    /*+text-shadow:0px 1px #FFFFFF;*/
    -moz-text-shadow: 0px 1px #FFFFFF;
    -webkit-text-shadow: 0px 1px #FFFFFF;
    -o-text-shadow: 0px 1px #FFFFFF;
    text-shadow: 0px 1px #FFFFFF;
    font-weight: bold;
    border: none;
}
#content.white .bloc .title .toggle{
    background-position: left -18px;
}
#content.white .bloc .title .toggle.hide{
    background-position: right -18px;
}
#content.white .bloc .title .next{
    background-position: right -18px;
}
#content.white .bloc .title .prev{
    background-position: center -18px;
}
#content.white .bloc .tabs a{
    color: #434242;
}
/*Wood  blocks*/
#content.wood{
    background: none;
}
#content.wood .bloc .title{
    background: url(../img/wood-title.jpg);
    color: #948076;
    /*+text-shadow:0px -1px #000000;*/
    -moz-text-shadow: 0px -1px #000000;
    -webkit-text-shadow: 0px -1px #000000;
    -o-text-shadow: 0px -1px #000000;
    text-shadow: 0px -1px #000000;
    font-weight: bold;
    border: none;
}
#content.wood .bloc .title .toggle{
    background-position: left -36px;
}
#content.wood .bloc .title .toggle.hide{
    background-position: right -36px;
}
#content.wood .bloc .title .next{
    background-position: right -36px;
}
#content.wood .bloc .title .prev{
    background-position: center -36px;
}
#content.wood .bloc .tabs a{
    color: #8A6450;
}
/*Dark Sidebar*/
#sidebar.black{
    background-color: #262626;
    border-right: 1px solid #1B1B1B;
    /*+box-shadow:inset -4px 0 #3C3A3A;*/
    -moz-box-shadow: inset -4px 0 #3C3A3A;
    -webkit-box-shadow: inset -4px 0 #3C3A3A;
    -o-box-shadow: inset -4px 0 #3C3A3A;
    box-shadow: inset -4px 0 #3C3A3A;
}
#sidebar.black>ul>li>a{
    color: #828282;
    /*+text-shadow:0px 1px #0D0D0D;*/
    -moz-text-shadow: 0px 1px #0D0D0D;
    -webkit-text-shadow: 0px 1px #0D0D0D;
    -o-text-shadow: 0px 1px #0D0D0D;
    text-shadow: 0px 1px #0D0D0D;
    background: #222222 url(../img/arrow.png) no-repeat 96% -5px;
    border-bottom: 1px solid #191919;
    border-top: 1px solid #2D2C2C;
    border-right: 4px solid #303030;
}
#sidebar.black>ul>li:hover>a, #sidebar.black ul li.current>a{
    background-color: #262626;
    color: #FFFFFF;
    border-right-color: #FFFFFF;
}
#sidebar.black ul li ul{
    background: #262626;
    /*+box-shadow:inset 0 0 15px #1B1B1B;*/
    -moz-box-shadow: inset 0 0 15px #1B1B1B;
    -webkit-box-shadow: inset 0 0 15px #1B1B1B;
    -o-box-shadow: inset 0 0 15px #1B1B1B;
    box-shadow: inset 0 0 15px #1B1B1B;
    padding: 7px 0px;
    border-right: 4px solid #3C3A3A;
    border-bottom: 0px solid #000000;
}
#sidebar.black ul ul ul{
    background: #262626;
    /*+box-shadow:inset 0 0 15px #1B1B1B;*/
    -moz-box-shadow:none;
    -webkit-box-shadow:none; 
    -o-box-shadow:none;
    box-shadow:none;
    padding: 7px 0px;
    border-right: none;
    border-bottom: 0px solid #000000;
}
.collapsed #sidebar.black ul ul{
    border-right: none;
}
#sidebar.black ul li li a{
    color: #747474;
}
/*White sidebar*/
#sidebar.white{
    background-color: #EEEEEE;
    border-right: none;
    /*+box-shadow:inset -4px 0px 0 #DCDCDC;*/
    -moz-box-shadow: inset -4px 0px 0 #DCDCDC;
    -webkit-box-shadow: inset -4px 0px 0 #DCDCDC;
    -o-box-shadow: inset -4px 0px 0 #DCDCDC;
    box-shadow: inset -4px 0px 0 #DCDCDC;
}
#sidebar.white>ul>li>a{
    color: #7C7D7E;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    background: transparent url(../img/white-arrow.png) no-repeat 96% -5px;
    border-bottom: 1px solid #D6D6D6;
    border-top: 1px solid #FCFDFD;
    border-right: 4px solid #D6D6D6;
}
#sidebar.white>ul>li:hover>a, #sidebar.white>ul>li.current>a{
    background-color: #E7E7E7;
    color: #000000;
    border-right-color: #808080;
}
#sidebar.white ul li ul{
    background: #F8F8F8;
    /*+box-shadow:inset 0 0 15px #CECECE;*/
    -moz-box-shadow: inset 0 0 15px #CECECE;
    -webkit-box-shadow: inset 0 0 15px #CECECE;
    -o-box-shadow: inset 0 0 15px #CECECE;
    box-shadow: inset 0 0 15px #CECECE;
    /*+box-shadow:none;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 7px 0px;
    border-right: 4px solid #C5C5C5;
    border-bottom: 1px solid #D6D6D6;
}
#sidebar.white ul li li a{
    color: #7C7D7E;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    background-image: url(../img/dark-sideli.png);
}
#sidebar.white a:hover, #sidebar.white li.current>a{
    color: #000000 !important;
}
/**  White **/
.white #content.login{
    color: #808080;
}
.white #content.login div.input{
    background-color: #EEEEEE;
    background-color: rgba(255, 255, 255, 0.5);
    /*+box-shadow:inset 2px 2px 5px #CECBCB;*/
    -moz-box-shadow: inset 2px 2px 5px #CECBCB;
    -webkit-box-shadow: inset 2px 2px 5px #CECBCB;
    -o-box-shadow: inset 2px 2px 5px #CECBCB;
    box-shadow: inset 2px 2px 5px #CECBCB;
    border: 1px solid #C2C1C1;
}
div.submit{
    padding-top: 5px;
}
.white #content.login div.submit input{
    /*+box-shadow:0px 2px 5px #B2B2B2;*/
    -moz-box-shadow: 0px 2px 5px #B2B2B2;
    -webkit-box-shadow: 0px 2px 5px #B2B2B2;
    -o-box-shadow: 0px 2px 5px #B2B2B2;
    box-shadow: 0px 2px 5px #B2B2B2;
}
.white #content.login div.input label{
    color: #A7A3A3;
}
/**  Wood **/
.wood #content.login{
    /*+text-shadow:0px 1px #692F18;*/
    -moz-text-shadow: 0px 1px #692F18;
    -webkit-text-shadow: 0px 1px #692F18;
    -o-text-shadow: 0px 1px #692F18;
    text-shadow: 0px 1px #692F18;
}
.wood #content.login h1{
    color: #FFFFFF;
    /*+text-shadow:0px 1px #692F18;*/
    -moz-text-shadow: 0px 1px #692F18;
    -webkit-text-shadow: 0px 1px #692F18;
    -o-text-shadow: 0px 1px #692F18;
    text-shadow: 0px 1px #692F18;
}
.wood #content.login div.input{
    background-color: #EEEEEE;
    background-color: rgba(0, 0, 0, 0.2);
    /*+box-shadow:inset 2px 2px 5px rgba(0, 0, 0, 0.8);*/
    -moz-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8);
    -o-box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8);
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.8);
    border: 1px solid #A34D2A;
}
.wood #content.login div.input input, .wood #content.login, .wood #content.login div.input label{
    color: #EEDDC9;
}
.wood #content.login div.submit input{
    /*+box-shadow:0px 2px 5px #100806;*/
    -moz-box-shadow: 0px 2px 5px #100806;
    -webkit-box-shadow: 0px 2px 5px #100806;
    -o-box-shadow: 0px 2px 5px #100806;
    box-shadow: 0px 2px 5px #100806;
}
/** CORE UNIFORM **/
.selector, .checker, .button, .radio, .uploader{
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    =display: inline;
}
.selector select:focus, .radio input:focus, .checker input:focus, .uploader input:focus{
    outline: 0;
}
/*Button*/
div.button a, div.button button, div.button input{
    position: absolute;
}
div.button{
    cursor: pointer;
    position: relative;
}
div.button span{
    display: -moz-inline-box;
    display: inline-block;
    line-height: 1;
    text-align: center;
}
/*Select*/
div.selector{
    position: relative;
    padding-left: 10px;
    overflow: hidden;
}
div.selector span{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.selector select{
    position: absolute;
    opacity: 0;
    filter: alpha(opacity:0);
    height: 25px;
    border: none;
    background: none;
}
/*Checker*/
div.checker{
    position: relative;
}
div.checker span{
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
}
div.checker input{
    opacity: 0;
    filter: alpha(opacity:0);
    display: inline-block;
    background: none;
}
/*Radio*/
div.radio{
    position: relative;
}
div.radio span{
    display: -moz-inline-box;
    display: inline-block;
    text-align: center;
}
div.radio input{
    opacity: 0;
    filter: alpha(opacity:0);
    text-align: center;
    display: inline-block;
    background: none;
}
/*Uploader*/
div.uploader{
    position: relative;
    overflow: hidden;
    cursor: default;
}
div.uploader span.action{
    float: left;
    display: inline;
    padding: 2px 0px;
    overflow: hidden;
    cursor: pointer;
}
div.uploader span.filename{
    padding: 0px 10px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
div.uploader input{
    opacity: 0;
    filter: alpha(opacity:0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 25px;
    border: none;
    cursor: default;
}

#content #shortcutInternal {float:left; margin-bottom: 20px; background: #F7F7F7;}
#content #shortcutInternal .actionsList {padding: 10px 10px 0 10px;}
#content #shortcutInternal .actionsList li {float: left; width: 62px; height: 42px; text-align: center; padding-bottom: 10px;}
#content #shortcutInternal .actionsList li a {font-size: 10px; color: #6D6D6D;}
#content #shortcutInternal .actionsList li img {margin: 0 15px;}
.clear{
    clear: both;
}

.settings{ background: url(../img/bg.gif);  border-bottom:5px solid #383838;  /*+box-shadow:inset 0px 0px 10px #000000;*/  -moz-box-shadow:inset 0px 0px 10px #000000;  -webkit-box-shadow:inset 0px 0px 10px #000000;  -o-box-shadow:inset 0px 0px 10px #000000;  box-shadow:inset 0px 0px 10px #000000;  color:#CACACA;  position:fixed;  top:40px;  right:0;  bottom:0;  z-index:999;  width:250px;  border-left:5px solid #D9D9D9;}
.settings .wrapper{  background:none;  /*+box-shadow:none;*/  -moz-box-shadow:none;  -webkit-box-shadow:none;  -o-box-shadow:none;  box-shadow:none;  padding:0 0 20px;}
.settings .wrapper p{ font: 12px Arial; text-align: justify; margin: 15px;}
.settings .wrapper .titre{  font-size:15px;  color:#BDBDBD;  /*+text-shadow:0px 1px #000000;*/  -moz-text-shadow:0px 1px #000000;  -webkit-text-shadow:0px 1px #000000;  -o-text-shadow:0px 1px #000000;  text-shadow:0px 1px #000000;  margin:0px 0px 12px;  padding:0px;}
.settings a{  background:#616161 url(../img/select.png) no-repeat left top;  width:25px;  height:25px;  display:block;  float:left;  /*+border-radius:3px;*/  -moz-border-radius:3px;  -webkit-border-radius:3px;  -khtml-border-radius:3px;  border-radius:3px 3px 3px 3px;  /*+box-shadow:inset 0px 0px 5px #000000;*/  -moz-box-shadow:inset 0px 0px 5px #000000;  -webkit-box-shadow:inset 0px 0px 5px #000000;  -o-box-shadow:inset 0px 0px 5px #000000;  box-shadow:inset 0px 0px 5px #000000;  margin:10px;}
.settings a.active{  margin:7px;  border:3px solid #FFFFFF;}
.settings .settingbutton{  position:absolute;  display:block;  border:0;  top:17px;  left:-30px;  height:30px;  width:30px;  /*+border-radius:5px 0 0 5px;*/  -moz-border-radius:5px 0 0 5px;  -webkit-border-radius:5px 0 0 5px;  -khtml-border-radius:5px 0 0 5px;  border-radius:5px 0 0 5px;  /*+box-shadow:0px 0px 3px #000000;*/  -moz-box-shadow:0px 0px 3px #000000;  -webkit-box-shadow:0px 0px 3px #000000;  -o-box-shadow:0px 0px 3px #000000;  box-shadow:0px 0px 3px #000000;  background:#8E2525 url(../img/help.gif) no-repeat center center;  margin:0px;}

/***********Start Google Charts API******************/

#map_world {position:absolute;width: 650px;height:400px;left:50%; margin-left: -325px;}
.content.world{height:400px;}
#graf_mobile, #graf_area{height:220px;}
#graf_mobile iframe{position:absolute; left:50%; margin-left: -250px;}

/***********End Google Charts API******************/



.span5.fileupload-progress.fade{
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.15000000596046448s;
    -webkit-transition-property: opacity;
    -webkit-transition-timing-function: linear;
    background-color: transparent;
    color: #333;
    display: block;
    float: left;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 54px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 0px;
    width: 470px;
}
.progress progress-success.progress-striped.active{
    -webkit-box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 2px 0px inset;
    background-color: #F7F7F7;
    background-image: -webkit-linear-gradient(top, whiteSmoke, #F9F9F9);
    background-repeat: repeat-x;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.0976563) 0px 1px 2px 0px inset;
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 18px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 470px;
}
.progress-extended{
    background-color: transparent;
    color: #333;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 13px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    width: 470px;
}
.bar{
    -webkit-animation-delay: 0s;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 2s;
    -webkit-animation-fill-mode: none;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: progress-bar-stripes;
    -webkit-animation-timing-function: linear;
    -webkit-background-size: 40px 40px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.148438) 0px -1px 0px 0px inset;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 0.6000000238418579s;
    -webkit-transition-property: width;
    -webkit-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    background-color: #62C462;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.148438) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.148438) 50%, rgba(255, 255, 255, 0.148438) 75%, transparent 75%, transparent);
    background-repeat: repeat-x;
    background-size: 40px 40px;
    box-shadow: rgba(0, 0, 0, 0.148438) 0px -1px 0px 0px inset;
    box-sizing: border-box;
    color: white;
    display: block;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.246094) 0px -1px 0px;
    width: 0px;
}
.imageProfile{
    margin: 6px;
    position: relative;
    float: left;
}
.acoesMultiplas .chzn-container{
    width: 200px !important;
}

/******************** FORM SEARCH ***********************/
#content div.search form .input, #content div.search form div.submit{
    clear: none;
}

#content div.search form div.submit{
    padding-top: 8px;
}

#content div.search form .input input{
    width: 150px;
    clear: none;
    margin-right: 5px;
}

#droppable, #droppable2 {min-height:200px;}


div.loading {width: 60px;height: 60px;position: absolute;left: 75px;top: 50px;background:url('../img/loadingSmall.gif') no-repeat 0px 0px;}


.alignLeft {float:left;}
.alignRight {float:right;}

/*============================
        Galeria de Foto
==============================*/
#content .gallery li.erased {display:none;}
#content .gallery li.nonerased {display:inline-block;}
.buttonToUp {position: relative;width: 18px;height: 16px;margin-right:5px;}
.buttonToDown {position: relative;width: 18px;height: 16px;}
.buttonToDown a {margin-left:1px;}
/*============================
        !Galeria de Foto
==============================*/