﻿<h1>Newsletter <i class="ico-mail"></i></h1>
<p>Cadastre-se e receba em seu e-mail notícias e promoções.</p>

<?php echo $this->Form->create('Newsletter', array('class' => 'formNews', 'url' => '/newsletters/add')) ?>
<?php echo $this->Form->input('cpfcasal', array('style' => 'display:none;', 'label' => false)) ?>

	<?php echo $this->Form->input('email', array('label' => false, 'div' => false, 'placeholder' => 'digite seu e-mail')) ?>

	<?php echo $this->Form->submit('ok', array('div' => false)) ?>
<?php echo $this->Form->end() ?>