<h1><?php echo $this->Html->image('/coreadmin/img/icons/lista.png') ?> <?php echo __('Clients'); ?></h1>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Client.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Client.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Client.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Client.id'))); ?>
            </li>
            </ul>
</div>
<div class="bloc clear">
    <div class="content">
        <div>
            <table class="noalt">
                <tbody>
                    
                    <tr>		
                        <td><h4><?php echo __('Id'); ?></h4></td>
                        <td>
                            <?php echo $client['Client']['id']; ?>
                        </td>
                     </tr>

                     <tr>		<td><h4><?php echo __('Cliente'); ?></h4></td>
                     <td>
                         <?php echo $client['Client']['cliente']; ?></td>
                     </tr>

                     <tr>		<td><h4><?php echo __('Image'); ?></h4></td>
                     <td><?php if(empty($client['Client']['image'])){ echo $this->Html->image('/coreadmin/img/nopicture_list.jpg'); }else{ echo $this->Html->link($this->Html->image('uploads/client/admin_list/'.$client['Client']['image']), '/img/uploads/client/large/'.$client['Client']['image'], array('escape'=>false, 'class'=>'fancybox')); }  ?></td>
                     </tr>

                     <tr>		<td><h4><?php echo __('Site'); ?></h4></td>
                     <td>
                         <?php echo $client['Client']['site']; ?></td>
                     </tr>

                     <tr>		<td><h4><?php echo __('Created'); ?></h4></td>
                     <td>
                         <?php echo $client['Client']['created']; ?></td>
                     </tr>
                                 </tbody>
             </table>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Client.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Client.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Client.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Client.id'))); ?>
            </li>
            </ul>
</div>
</br>
</br>
</br>
</br>
</br>

