
/*********************************************** CONTENT ***********************************************************/
#content{
    margin: 28px auto 0px;
    color: #6D6D6D;
    padding: 0px 0px 20px;
    font-size: 12px;
    position: relative;
}
#content.nosidebar{
    margin-left: 40px;
}
#content a{
    color: #494949;
}
#content a:hover{
    color: #494949;
    text-decoration: underline;
}
#content em, #content em a{
    font-style: italic;
    color: #B2B2B2;
    font-weight: normal;
}
#content strong{
    font-weight: bold;
    color: #1A1616;
}
#content pre{
    font-style: italic;
    font-size: 1.1em;
}
#content .bloc.listagem .content{
    padding-bottom: 40px;
}
#content .bloc{
    margin: 20px 0px 0px;
    background-color: #FFFFFF;
    /*+box-shadow:0px 5px 10px #AFAEAE;*/
    -moz-box-shadow: 0px 5px 10px #AFAEAE;
    -webkit-box-shadow: 0px 5px 10px #AFAEAE;
    -o-box-shadow: 0px 5px 10px #AFAEAE;
    box-shadow: 0px 5px 10px #AFAEAE;
}
#content .left, #content .right{
    width: 49%;
    float: left;
}
#content .right{
    float: right;
}
#content .bloc .title{
    height: 35px;
    position: relative;
    background: url(../coreadmin/img/bloctitle.png);
    line-height: 34px;
    padding: 0 10px;
    font-size: 15px;
    font-weight: bold;
    color: #808080;
    /*+text-shadow:0 -1px 0px #000;*/
    -moz-text-shadow: 0 -1px 0px #000;
    -webkit-text-shadow: 0 -1px 0px #000;
    -o-text-shadow: 0 -1px 0px #000;
    text-shadow: 0 -1px 0px #000;
}
.tabs a{
    cursor: pointer;
}
.tabContent{
    display: none;
}
.tabContent.active{
    display: block;
}
#content .bloc .title .toggle{
    display: block;
    height: 18px;
    width: 18px;
    background: url(../coreadmin/img/slidebuttons.png) left top;
    position: absolute;
    top: 8px;
    right: 10px;
}
#content .bloc .title .toggle.hide{
    background-position: top right;
}
#content .good{
    color: #6F9106;
}
#content .neutral{
    color: #FF7400;
}
#content .bad{
    color: #C21C1C;
}
/*Modal content*/
.modal #content{
    margin: 0;
    padding: 0px;
}
.modal #content .bloc{
    margin: 0px;
    padding: 0px;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}

/**  Texts **/
#content .bloc .content h1{
    color: #000000;
    font-family: Arial, Helvetica, Sans-serif;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
    margin: 0px;
    padding: 10px 0;
    font-weight: bold;
}
#content .bloc .content h1, #content .bloc .content h2, #content .bloc .content h3, #content .bloc .content h4, #content .bloc .content h5{
    color: #000000;
    font-weight: bold;
    padding: 0 0px 5px;
}
#content .bloc .content h2{
    color: #1B1B1B;
    font-size: 25px;
}
#content .bloc .content h3{
    color: #282828;
    font-size: 22px;
}
#content .bloc .content h4{
    color: #404040;
    font-size: 20px;
}
#content .bloc .content h5{
    color: #5A5656;
    font-size: 18px;
}
#content .bloc .content p{
    padding: 5px 0 10px;
    line-height: 1.5em;
}
#content .bloc .content p.qtd{
    text-align: right;
}
#content .bloc .content ul, #content .bloc .content ol{
    list-style: disc;
    margin-left: 25px;
    line-height: 1.5em;
    padding: 4px 0 10px;
}
#content .bloc .content ul.toolbar{
    padding: 3px 0px 0px 3px;
    margin: 0px;
    border: 0;
}
#content .bloc .content ul.toolbar li:hover{
    border: 1 solid #FFFFFF;
    background-color: #D9D6D6;
}
#content .wysiwyg{
    margin: 1px;
    padding: 0px;
}
#content .bloc .content ol{
    list-style: decimal;
}
#content .bloc .content{
    padding: 10px;
    background-color: #F7F7F7;
    background-color: #F7F7F7;
    position: relative;
}

#content .loader{
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom:0;
    background:url(../coreadmin/img/loader.gif) center center no-repeat rgba(255,255,255,0.7);
    z-index:9998; 
}
/**  Tabs **/
#content .title .tabs{
    position: absolute;
    bottom: 0;
    right: 10px;
    height: 31px;
}
#content .title .tabs a{
    padding: 1px 21px 0;
    /*+border-radius:6px 6px 0 0;*/
    -moz-border-radius: 6px 6px 0 0;
    -webkit-border-radius: 6px 6px 0 0;
    -khtml-border-radius: 6px 6px 0 0;
    border-radius: 6px 6px 0 0;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    font-weight: normal;
    color: #B2B2B2;
    text-decoration: none;
    margin: 5px 0 0px 0px;
}
#content .title .tabs a.active, #content .title .tabs a:hover{
    color: #000;
    border: 1px solid #CFD1D4;
    border-bottom: none;
    background-color: #F7F7F7;
    padding: 0 20px;
    /*+text-shadow:none;*/
    -moz-text-shadow: none;
    -webkit-text-shadow: none;
    -o-text-shadow: none;
    text-shadow: none;
}
/** Shortcuts**/
#content .center{
    margin: 0 auto;
}
#content .bloc .shortcut{
    width: 105px;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    margin: 5px;
    color: #6D6D6D;
    border: 1px solid #D0D2D4;
    position: relative;
    display: inline-block;
}
#content .bloc .shortcut span{
    color: #FFFFFF;
    display: block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 23px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-weight: normal;
    background: url(../coreadmin/img/notif.png);
}
#content .bloc .shortcut:hover{
    color: #2D2D2D;
    border: 1px solid #6F7275;
    background-color: #DBDCDE;
}
#content .bloc .shortcut img{
    display: block;
    margin: 0 auto 10px;
    max-width: 48px;
    max-height: 48px;
}
/** Table **/
#content table{
    width: 100%;
    text-align: left;
    border-collapse: separate;
    border-spacing: 0;
}
#content table .picture img{
    border: 4px solid #DFDFDF;
    margin: 7px;
    padding: 0px;
}
#content table .picture a:hover img{
    border-color: #BDBDBD;
}
#content table h1, #content table h2, #content table h3, #content table h4, #content table h5{
    display: inline;
}
#content table thead th{
    border-bottom: 1px solid #BDBDBD;
}
#content table thead tr th{
    font-weight: bold;
    color: #151515;
    font-size: 1.1em;
    padding-bottom: 10px;
}
#content table thead tr .actions{
    text-align: right;
    padding-right: 10px;
}
#content table thead tr th a{
    color: #151515;
    margin-right: 10px;
}
#content table tbody tr td{
    height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid #DADADA;
    border-top: 1px solid #FFFFFF;
}
#content table tbody tr:nth-child(2n+1) td{
    background-color: #F0F0F0;
}
#content table tbody tr:hover td{
    background-color: #EAEAEA;
    border-bottom: 1px solid #CACACA;
    border-top: 1px solid #E2E2E2;
}
#content table tbody tr td.actions{
    padding-right: 5px;
}
#content .bloc .content table tbody tr td.actions ul{
    float: right;
    padding: 2px 0;
}
#content table tbody tr td.actions ul li{
    float: left;
    margin-left: 5px;
}
#content table tbody tr td.actions ul li img{
    width: 20px;
    margin-top: 8px;
}
.acoesMultiplas{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px 10px 10px 10px;
}
.acoesMultiplas button{
    margin-right: 8px;
    float: left;
}
#content table.noalt tbody tr td{
    background-color: transparent !important;
    border-bottom: 1px solid #DADBDD;
}
#content table.noborder tbody tr td{
    border: none;
    vertical-align: middle;
}
#content table tbody tr td img{
    padding-right: 5px;
    display: inline-block;
}
/** Pagination**/
#content .pagination{
    text-align: right;
    margin: 10px 10px 10px 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    /*[empty]border:;*/
}
#content .pagination .ui-button-text-only .ui-button-text {
    padding: 0.4em 0.9em;
}
#content .pagination a{
    display: inline-block;
}
#content .pagination .current{
    color: #738225;
}
#content .pagination .disabled{
    display: none;
}
.ListImage{
    width: 18px;
    margin-left: 7px;
    cursor: pointer;
}

/** Notification **/
#content .notif{
    position: relative;
    padding: 15px 15px;
    color: #404040;
    background-color: #eedc94;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#fceec1), to(#eedc94));
    background-image: -moz-linear-gradient(top, #fceec1, #eedc94);
    background-image: -ms-linear-gradient(top, #fceec1, #eedc94);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fceec1), color-stop(100%, #eedc94));
    background-image: -webkit-linear-gradient(top, #fceec1, #eedc94);
    background-image: -o-linear-gradient(top, #fceec1, #eedc94);
    background-image: linear-gradient(top, #fceec1, #eedc94);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fceec1', endColorstr='#eedc94', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #eedc94 #eedc94 #e4c652;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.25);
}
#content .content .notif{
    margin-bottom: 10px;
}
#content .notif .close{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    float: right;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    line-height: 13.5px;
    text-shadow: 0 1px 0 #ffffff;
    filter: alpha(opacity=20);
    -khtml-opacity: 0.2;
    -moz-opacity: 0.2;
    opacity: 0.2;
    text-decoration: none;
}
#content .notif .close:hover {
    color: #000000;
    text-decoration: none;
    filter: alpha(opacity=40);
    -khtml-opacity: 0.4;
    -moz-opacity: 0.4;
    opacity: 0.4;
}
#content .notif strong{
    font-weight: bold;
    color:inherit;
}
#content .notif.success{
    background-color: #57a957;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
    background-image: -moz-linear-gradient(top, #62c462, #57a957);
    background-image: -ms-linear-gradient(top, #62c462, #57a957);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
    background-image: -webkit-linear-gradient(top, #62c462, #57a957);
    background-image: -o-linear-gradient(top, #62c462, #57a957);
    background-image: linear-gradient(top, #62c462, #57a957);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #57a957 #57a957 #3d773d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFF;
}
#content .notif.error,#content .bloc .notif.error{
    background-color: #c43c35;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
    background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
    background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
    background-image: linear-gradient(top, #ee5f5b, #c43c35);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #c43c35 #c43c35 #882a25;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFF!important;
}
#content .notif.info{
    background-color: #339bb9;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
    background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
    background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
    background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
    background-image: linear-gradient(top, #5bc0de, #339bb9);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #339bb9 #339bb9 #22697d;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color:#FFF;
}
/**  Forms **/
#content .bloc .input{
    clear: both;
    float: left;
    padding: 5px 0 10px;
}
#content .bloc .input.inline{
    display:inline-block;
}

#content .bloc label{
    display: block;
    color: #2C2C2C;
    padding-bottom: 10px;
    font-size: 14px;
}
#content .bloc .required label{
    font-weight: bold;
}
#content .bloc .input label span{
    color: #0877A6;
}
#content .bloc .input input, #content .bloc .input select{
    border: 1px solid #C8CACC;
    width: 500px;
    display: block;
    padding: 6px 5px;
}
#content .bloc .input input.color{
    width: 25px;
}
#content .bloc .input textarea{
    border: 1px solid #C8CACC;
    font: 13px Arial;
}
#content .bloc .input select{
    padding: 5px 5px 5px 0;
    padding-left: 5px;
    height: auto;
}
#content .bloc .checkbox input{
    width: auto;
    display: inline-block;
    height: auto;
}
#content .bloc .input label.inline{
    color: #6D6D6D;
    font-size: 1em;
    font-weight: normal;
    display: inline-block;
    margin-right: 15px;
    vertical-align: middle;
    height: 14px;
    line-height: 23px;
}
#content .bloc .input select{
    width: auto;
}
#content .bloc .input textarea{
    width: 98%;
    padding: 1%;
}
input.datepicker{
    background: white url(../coreadmin/img/calendar.png) no-repeat right center;
}
#content .bloc .medium input{
    width: 50%;
}
#content .bloc .long input, #content .bloc .full input{
    width: 98%;
    padding: 0 1%;
}
#content .bloc .error, #content .bloc .error label, #content .bloc .error input, #content .error-message, #content .error textarea{
    color: #9D261D !important;
    border-color: #C87872 !important;
}
#content .bloc .error input, #content .bloc .error textarea{
    background-color: #FAE5E3 !important;
}
#content .bloc .loading input, input.loading{
    background:url(../coreadmin/img/loader.gif) right center #FFF no-repeat!important; 
    padding-right: 35px;
}
#content .error-message{
    display: block;
}

/*Uploader*/

div.uploader{
    position: relative;
    overflow: hidden;
    cursor: default;
}
div.uploader span.action{
    float: left;
    display: inline;
    padding: 2px 0px;
    overflow: hidden;
    cursor: pointer;
}
div.uploader span.filename{
    padding: 0px 10px;
    float: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
}
div.uploader input{
    opacity: 0;
    filter: alpha(opacity:0);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    float: right;
    height: 25px;
    border: none;
    cursor: default;
}

/** ??? **/
.selector, .checker, .button, .radio, .uploader{
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
    display: inline-block;
    vertical-align: middle;
}

#content .button{
    background: url(../coreadmin/img/buttons.png) left -68px;
    border: 1px solid #79a21e;
    /*+text-shadow:0px -1px 0px #2C6AA3;*/
    -moz-text-shadow: 0px -1px 0px #79a21e;
    -webkit-text-shadow: 0px -1px 0px #79a21e;
    -o-text-shadow: 0px -1px 0px #79a21e;
    text-shadow: 0px -1px 0px #79a21e;
    color: #FFFFFF;
    font-weight: bold;
    padding: 5px 10px;
    /*+border-radius:3px;*/
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
    text-decoration: none;
    /*+box-shadow:0px 1px 5px #B2B2B2;*/
    -moz-box-shadow: 0px 1px 5px #B2B2B2;
    -webkit-box-shadow: 0px 1px 5px #B2B2B2;
    -o-box-shadow: 0px 1px 5px #B2B2B2;
    box-shadow: 0px 1px 5px #B2B2B2;

}

/** Adjusts 20130717 **/

#internas {
    width: 760px;
    float: left;
    margin: 0 0 0 15px
}
#mainContent {
}

#internas h1 span{
    vertical-align: middle;
    font-size: 16px;
    margin-top: 5px;
}

#internas h1 span a{
    color: #FFFFFF;
    text-decoration: none;
}

#internas h1 span a:hover{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.ui-widget-header .ui-icon {
    background-image: url("../img/jqueryui/ui-icons_888888_256x240.png");
}

.ui-dialog-titlebar{
    background: url("../img/bg-tt.jpg") no-repeat scroll right 0 transparent;
    color: #FFFFFF;
}

.textarea{
     width: 100%;
}

.talks_actions a{
    float: left;
}

#fancybox-wrap{
    font-size: 12px;
}

.tb-bold{
    text-align: right;
    font-weight: bold;
}

.formContato a {
    position: relative!important;
    float: right!important;
    border:1px solid #2e2c38;
    background:url(../img/bg-tt.jpg) no-repeat scroll -5px 0;
    margin:10px 0 0!important;
    font:bold 13px Arial!important;
    color: #fff!important;
    cursor: pointer!important;
    padding:7px 20px!important;
}
