html, body, form, ul, fieldset, p, h1, h2, h3, h4, h5 {margin: 0; padding: 0;}
body {font:100%/110% arial; background:#fff;}
body img {display:block; outline:0;}
a {text-decoration:none;}
object {outline:0;}
li {list-style:none;}
a img, fieldset {border: 0;}
p.center {text-align:center;}
p.right {text-align:right;}
p, h1, h2, h3, h4, h5 {margin-bottom:11px;}
div.clear {clear: both;}
.left {float:left;}

::selection{background:#042A57;color:#fff;}
::-moz-selection{background:#042A57;color:#fff;}

html, body {height:100%;}
#container {position:relative; min-height:100%;}
* html #container {height:100%; /* hack para IE6 hq trata height como min-height */}

#content, #header-in, #footer-in {position:relative; width:1000px; margin:0 auto;}
#content {padding-bottom:50px;margin-top: 10px;}

p {font:12px Arial;color:#2e2c38;}
h1 {font: 24px 'Open Sans Condensed', sans-serif;color: #fff;}
h2 {font: 20px 'Open Sans Condensed', sans-serif;color: #2E2C38;}
h3 {font: 18px 'Open Sans Condensed', sans-serif;color: #2E2C38;}
h4 {font: 16px 'Open Sans Condensed', sans-serif;color: #2E2C38;}

/* HEADER */
#header-out {width:100%;background:url(../img/bg-header_out.jpg) no-repeat center top;}
#header-in {height:158px;}

a#logo {background:url(../img/logo-md8.png) no-repeat;width:515px;height:95px;top:10px;left:15px;position:absolute;z-index:999;text-indent:-9000em;overflow:hidden;margin:0!important;}

ul#redessociais {position: absolute;right: 32px;top: 110px;}
ul#redessociais li {float:left;margin-left: 6px;}
ul#redessociais li a {width:45px;height:45px;text-indent:-9000em;overflow:hidden;display: inline-block;}
ul#redessociais li a.facebook {background:url(../img/ico-facebook.png) 0 0;}
ul#redessociais li a.twitter {background:url(../img/ico-twitter.png) 0 0;}
ul#redessociais li a.busca {background:url(../img/ico-lupa.png) 0 0;}
ul#redessociais li a.facebook:hover {background:url(../img/ico-facebook.png) -45px 0;}
ul#redessociais li a.twitter:hover {background:url(../img/ico-twitter.png) -45px 0;}
ul#redessociais li a.busca:hover {background:url(../img/ico-lupa.png) -45px 0;}

.dadosCliente {background:url(../img/bg-header_out.jpg) no-repeat 0 -130px;position:absolute;right:20px;top:0;border-radius: 0 0 5px 5px;padding: 5px 10px;}
.dadosCliente p, .dadosCliente p a {color:#fff;margin:0;}
.dadosCliente p a:hover {text-decoration:underline;}

#carrinho {position:absolute;right:20px;top:45px;}
#carrinho h1 a {font:bold 16px 'Open Sans Condensed';color:#fff;}
#carrinho small, #carrinho small a {color:#fff;margin: 5px 0 0 5px;font:bold 12px arial;}
i.ico-carrinho {background:url(../img/ico-carrinho.jpg) no-repeat;width:20px;height:20px;margin:0 10px 0 0;float:left;position: relative;top: 0;}

#compras {display:none;position:absolute;right:20px;top:70px;background:url(../img/bg-azul.png) repeat;width:350px;padding: 10px;z-index:999;border-top:1px solid #334c67;border-radius: 0 0 10px 10px;}
#compras .produto {border-top: 1px dotted #003961;clear: both;display: inline-block;margin-top: 5px;padding-top: 5px;}
#compras .produto:first-child {border-top: none;clear: both;display: inline-block;margin-top: 0;padding-top: 0;}
#compras .produto p, #compras .produto p a {color:#fff;float: left;text-align:center;margin: 0 5px;font-size: 12px;}
#compras .produto p.nome {width:215px;text-align:left;margin:0 5px 0 0;}
#compras .produto p.quantidade {width:30px;}
#compras .produto p.valor {width:70px;}
#compras .produto a.excluir {color:#fff;font-size:10px;}

.total {border-top:1px solid #334c67;margin-top: 10px;padding-top: 10px;}
.total p {text-align:right;margin: 0;color:#fff;}
a.bt-pedido {background:url(../img/bg-azul02.png) repeat;color:#fff;text-align:center;font:bold 13px arial;display:block;padding:7px 0;margin-top:10px;border-radius: 0 0 10px 10px;}
a.bt-pedido:hover {text-decoration:underline;}

/* FORMULARIO DE BUSCA */
#busca {display:none;position:absolute;right:30px;top:158px;z-index:998;box-shadow: 0 1px 2px 0 #B2B2B2;}
.formBusca {width:235px;display:inline-block;border:1px solid #b2b2b2;}
.formBusca input[type="text"] {background:#fff;border:none;color:#666;font:13px arial;margin:0;padding:8px 9px 8px 8px;width:185px;height:17px;float:left;}
.formBusca input[type="submit"] {position: relative!important;float: right!important;border:none;background:url(../img/bt-busca.jpg) no-repeat scroll 0 0;margin: 0!important;cursor:pointer!important;text-indent:-9000em;width:33px;height: 33px;padding:0;}

/* MENU */
#nav {position:absolute;left:18px;bottom: 12px;}
#nav li{float: left;text-transform:uppercase;margin:0 48px 0 0;}
@media screen and (-webkit-min-device-pixel-ratio:0) {#nav li{margin:0 47px 0 0;}}
#nav li:last-child {margin:0 !important;padding-right:0 !important;border-right:0 !important;}
#nav li a{font: 20px 'Open Sans Condensed', sans-serif;color: #fff;}
#nav li a:hover{color: #0bbffe;}

body#pg-home a.menu01, body#pg-amd8 a.menu02, body#pg-clientes a.menu03, body#pg-produtos a.menu04, body#pg-noticias a.menu05, body#pg-duvidas a.menu06, body#pg-contato a.menu07 {color:#0bbffe;}

/* HOME */
#mainContent {float: left;width: 1000px;position:relative;}
#mainContent h1 {width: 735px;background: url(../img/bg-tt.jpg) no-repeat scroll right 0;padding: 5px 10px 5px 15px;position: relative;margin:15px 0 5px;}

#conteudo {width:772px;float:right;}

/* ANIMACAO */
ul.slider {margin-bottom: 20px;height: 300px;}
ul.slider li {position:relative;}
ul.slider li span {font:20px 'Open Sans Condensed', sans-serif;color:#fff;background:url(../img/bg-preto.png) repeat;position:absolute;bottom:10px;left:10px;width:720px;padding:5px 10px;}
.slideLeft, .slideRight {cursor:pointer;position:absolute;top:253px;float:left;z-index:999;color:#fff;padding: 0 5px;
-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.slideLeft {right:50px}
.slideRight {right:25px;}
.slideLeft:hover {right:52px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}
.slideRight:hover {right:22px;-webkit-transition:all 0.3s ease-in-out;-moz-transition:all 0.3s ease-in-out;-o-transition:all 0.3s ease-in-out;transition:all 0.3s ease-in-out;}

.boxProdutos {float:left;width:220px;height: 185px;padding:13px 11px 11px;background:url(../img/bg-produtos.jpg) no-repeat -4px 0;margin: 0 15px 5px 0;position: relative;}
.boxProdutos p {padding:3px 5px;margin: 0;}
.boxProdutos p a {color:#2e2c38;}
.boxProdutos p a:hover, .boxProdutos small a:hover {text-decoration:underline;}
.boxProdutos small {padding: 0 5px 0 20px;background:url(../img/ico-categoria.jpg) no-repeat 5px 3px;position: absolute;bottom:25px;width: 195px;line-height: 12px;}
.boxProdutos small a{font-size:11px;color:#666;}

/* ESTRUTURA DAS INTERNAS */
#internas {float:right; display:inline; width:772px; margin:0 10px 0 0;}
#internas h1 {margin:0 0 15px;}

/* FORMATAÇAO DAS INTERNAS */
.fotos_produtos {width: 250px;float:left;margin-right: 10px;}
.fotos_produtos .boxProdutos {margin:0;}

ul.galerias-fts {float: left;margin-top: 5px;}
ul.galerias-fts li {float:left;width:75px;border: 1px solid #b2b2b2;margin:0 5px 5px 0;}
ul.galerias-fts li img {width:75px;}

.boxDescricao {width:500px;min-height: 275px;float:left;position:relative;}
.boxDescricao h2 {color: #2E2C38;float: left;font: 700 26px 'Open Sans Condensed',sans-serif;margin: 0 20px 0 0;}
.boxDescricao h2 small {position: relative;top: -6px;}
.tabs-nav {list-style: none;margin: 0;overflow: hidden;padding: 0;width: 100%;}
.tabs-nav li {float: left;line-height: 34px;overflow: hidden;padding: 0;position: relative;margin: 0 0 -1px 0;}
.tabs-nav li a {margin-right: 5px;}
.tabs-nav li a {color:#003e72;display: block;outline: none;padding:5px 15px;text-decoration: none;font: bold 13px arial;background:#c0bfc3;}
.tabs-nav li:first-child a {}
.tabs-nav li.active a {color: #fff;background: url("../img/bg-tt.jpg") no-repeat scroll -5px 0 !important;}
.tabs-nav li.active a i {opacity: 0.8}
.tabs-nav li i {opacity: .5}
.tabs-container {border-top: 1px solid #c3c3c6;margin: -1px 0 20px;overflow: hidden;width: 100%;line-height: 19px;}
.tab-content {padding: 10px 0;}
.tab-content iframe {margin-bottom:10px;}

#compratilhar {float:left;position:absolute;bottom:0;width: 200px;}
#comentens {right:0;position:absolute;bottom:0;}
#comentens p {margin:0;}
#comentens p small {padding: 0 5px 0 20px;background:url(../img/ico-categoria.jpg) no-repeat 5px 1px;}
#comentens p small a {font-size:11px;color:#666;}

#internas .postagem {border-bottom:1px dotted #B2B2B2;display:inline-block;width:760px;margin-bottom:10px;padding-bottom:10px;}
#internas .postagem:last-child {border-bottom:none;}
#internas .postagem h1 {font-size:26px;line-height:26px;background:url("../img/bg-footer_out.jpg") repeat-x;float:left;margin:0 10px 0 0;text-align:center;width:55px;padding:5px 10px;}
#internas .postagem h1 small {display: inline-block;}
#internas .postagem h2, #internas .postagem h2 a {color:#2E2C38;font-size:24px;line-height: 24px;}

.image_hover_bg {height: 100%;left:11px;opacity: 0;position: absolute;top:13px;transition: opacity 0.3s ease 0s;width: 100%;z-index: 2;}
.image_hover_bg:hover {opacity: 1;}

.foto-empresa {float:right;margin: 0 12px 5px 10px;}

.logocliente {width:180px;float:left;margin: 0 13px 8px 0;}

.box340 {float:left;width:340px;}
.box340 a {background:url("../img/bg-tt.jpg") no-repeat scroll -5px 0;color:#fff;padding:9px 10px;font: bold 13px arial;}
.mr80 {margin-right:80px;}

/* DÚVIDAS FREQUENTES */
.duviva {border-bottom:1px dotted #B2B2B2;display:inline-block;width:760px;margin-bottom:10px;padding-bottom:10px;}
.duviva:last-child {border-bottom:none;}
.duviva h2 {cursor: pointer;display: block;margin-bottom: 0;background: url(../img/ico-list.jpg) no-repeat 0 10px;color:#2E2C38;outline:none;padding:0 0 0 15px;text-decoration: none;width: 745px !important;font-size: 22px;}
.duviva h2.active {cursor: default; background: url(../img/ico-list2.jpg) no-repeat 0 10px;font-size: 23px;}
.duviva p {font: 13px/18px arial;margin-bottom: 5px;width:760px!important;}
.duviva p a {color: #1b6178;text-decoration:underline;font-weight:bold;}
.duviva p a:hover {text-decoration:none;}

/* FORM PEDIDO INTERNA */
.formPedido {width:310px;display: inline-block;margin-bottom: 35px;}
.formPedido label {color: #2e2c38;font:18px 'Open Sans Condensed', sans-serif;float: left;margin:4px 5px 0 0;}
.formPedido select {background:url(../img/bg-select.jpg) repeat-x 0 0 transparent;border:none;color:#fff;font:16px 'Open Sans Condensed', sans-serif;margin:0;padding:5px 3px;width:62px;height: 33px;float:left;-webkit-appearance: none;}
.formPedido select option {color:#000;-webkit-appearance: none;}
.formPedido input[type="submit"] {position: relative!important;float: right!important;border:none;background:url(../img/bg-cart.jpg) repeat-x;margin: 0!important;cursor:pointer!important;padding:3px 15px 3px 45px;font:18px 'Open Sans Condensed', sans-serif;color:#fff;height:33px;}

/* SIDEBAR */
#sidebar {width:200px;float:left;margin:-18px 0 0 0;}
#sidebar a {font:13px arial;color:#2e2c38;}
#sidebar h1 {background: url(../img/bg-tt.jpg) no-repeat scroll right 0;padding: 5px 10px;position: relative;margin:0 0 5px;width: 180px;}
#sidebar h1:first-child {margin:0 0 5px;}
#sidebar h2 {font:700 30px 'Open Sans Condensed', sans-serif;color:#2d5c92;text-align:center;margin: 0;}
#sidebar h3 {font:700 24px 'Open Sans Condensed', sans-serif;color:#09a860;margin:0;}
#sidebar h3 a {font:700 24px 'Open Sans Condensed', sans-serif;color:#09a860;margin:0;}

#sidebar ul {}
#sidebar ul li {width: 200px !important;background:url(../img/ico-list.png) no-repeat 180px 13px;}
#sidebar ul li.active {cursor: default; background: url(../img/ico-list2.png) no-repeat 180px 13px;}
#sidebar ul li.active:hover {cursor: default; background: url(../img/ico-list2.png) no-repeat 180px 13px;}
#sidebar ul li:hover {background:url(../img/ico-list2.png) no-repeat 180px 13px;}
#sidebar ul li:last-child {border-bottom:none;}
#sidebar ul li a {font:14px arial;color:#2e2c38;display: block;padding:8px 10px;}
#sidebar ul li.active a:hover {margin-left:0;}



[class^="ico-"], [class*="ico-"] {position:absolute;right:0;bottom:0;}
i.ico-categorias {background:url(../img/ico-categorias.png) no-repeat;width:31px;height:31px;}
i.ico-atendimento {background:url(../img/ico-atendimento.png) no-repeat;width:35px;height:26px;}
i.ico-solcita {background:url(../img/ico-orcamento.png) no-repeat;width:19px;height:34px;}
i.ico-mail {background:url(../img/ico-news.png) no-repeat;width:35px;height:21px;}
i.ico-localizacao {background:url(../img/ico-localizacao.png) no-repeat;width:22px;height:40px;}
i.ico-chat {background:url(../img/ico-chat.jpg) no-repeat;width:32px;height:32px;margin:0 10px 0 25px;float:left;position: relative;top: 0;}

i.ico-maps {background:url(../img/ico-maps.jpg) no-repeat;width:15px;height:15px;margin:0 10px 0 0;float:left;position: relative;top: 0;}
i.ico-phone {background:url(../img/ico-phone.jpg) no-repeat;width:15px;height:15px;margin:0 10px 0 0;float:left;position: relative;top: 4px;}
i.ico-email {background:url(../img/ico-mail.jpg) no-repeat;width:15px;height:11px;margin:0 10px 0 0;float:left;position: relative;top: 4px;}

/* FORMULARIO DE PRETTYPHOTO */
.formPrettyphoto {width:640px;margin:0 auto;}
.formPrettyphoto label {color: #2B2B2B;font:13px arial;width: 100%;margin-top: 12px;}
.formPrettyphoto input[type="text"] {background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:8px;width:295px;height:16px;}
.formPrettyphoto select,.formPrettyphoto input[type="file"]{background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:5px 8px;width:313px;height:34px;}
.formPrettyphoto .l315 {width:315px;float: left;position: relative;margin-bottom: 15px;}
.formPrettyphoto .r315 {width:315px;float: right;position: relative;margin-bottom: 15px;}
.formPrettyphoto .l640 {float:left;position: relative;width:640px;margin-bottom: 10px;}
.formPrettyphoto div {display:inline-block;}
.formPrettyphoto textarea {background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:8px;max-width:622px;min-width:622px;width:622px;height:100px;max-height: 100px;min-height: 100px;}
.formPrettyphoto input[type="submit"] {position: relative!important;float: right!important;border:1px solid #2e2c38;background:url(../img/bg-tt.jpg) no-repeat scroll -5px 0;margin: 0!important;font:bold 13px Arial!important;color: #fff!important;cursor: pointer!important;padding:7px 20px!important;}
.formPrettyphoto h1 {text-align:center;background:url("../img/bg-tt.jpg") no-repeat scroll right 0 transparent;}

/* FORMULARIO DE NEWSLETTER */
.formNews {width:200px;display:inline-block;}
.formNews input[type="text"] {background:#fff;border:1px solid #b2b2b2;border-right:none;color:#666;font:13px arial;margin:5px 0 0;padding:8px 9px 8px 8px;width:70%;height:16px;float:left;}
.formNews input[type="submit"] {position: relative!important;float: right!important;border:1px solid #2e2c38;background:url(../img/bg-tt.jpg) no-repeat scroll -5px 0;margin: 0!important;margin-top: 5px!important;font:bold 13px Arial!important;color: #fff!important;cursor: pointer!important;padding:7px 0!important;width:21%;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.formNews input[type="submit"] {height: 34px;}
}

/* FORMULARIO DE LOGIN */
.formLogin {width:340px;display: inline-block;margin-bottom:15px;}
.formLogin label {color: #2E2C38;font:13px arial;width: 100%;margin-top: 12px;}
.formLogin input[type="text"],.formLogin input[type="password"]{background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:8px;width:320px;height:16px;}
.formLogin .l340 {width:340px;float: left;position: relative;margin-bottom:15px;}
.formLogin .r340 {width:340px;float: right;position: relative;margin-bottom:15px;}
.formLogin div {display:inline-block;}
.formLogin span {font:12px arial;color:#2E2C38;}
.formLogin input[type="submit"] {position: relative!important;float: right!important;border:1px solid #2e2c38;background:url(../img/bg-tt.jpg) no-repeat scroll -5px 0;margin:0!important;font:bold 13px Arial!important;color: #fff!important;cursor: pointer!important;padding:7px 20px!important;}

/* FORMULARIO DE CONTATO */
.formContato {width:760px;display: inline-block;margin-bottom:15px;}
.formContato label {color: #2E2C38;font:13px arial;width: 100%;margin-top: 12px;}
.formContato input[type="text"],.formContato input[type="password"]{background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:8px;width:345px;height:16px;}
.formContato select {background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:7px 8px;width:363px;height:34px;}
.formContato .l365 {width:365px;float: left;position: relative;margin-bottom:15px;}
.formContato .r365 {width:365px;float: right;position: relative;margin-bottom:15px;}
.formContato .l760 {width: 758px;float:left;position: relative;margin-bottom:15px;}
.formContato div {display:inline-block;}
.formContato textarea {background:#fff;border:1px solid #2E2C38;color:#2E2C38;font:13px arial;margin:5px 0 0;padding:8px;max-width:740px;min-width:740px;width:740px;height: 130px;max-height: 130px;min-height: 130px;}
.formContato span {font:12px arial;color:#2E2C38;}
.formContato input[type="checkbox"] {margin:10px 5px 0 0;}
.formContato input[type="submit"], .formContato a {position: relative!important;float: right!important;border:1px solid #2e2c38;background:url(../img/bg-tt.jpg) no-repeat scroll -5px 0;margin:10px 0 0!important;font:bold 13px Arial!important;color: #fff!important;cursor: pointer!important;padding:7px 20px!important;}

textarea:focus, input:focus, select:focus{outline: none;}

/* FORMATAÇÃO DA VALIDAÇÃO DE FORMULÁRIO */
#content .notif {background-color: #EEDC94;background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);border-radius: 4px 4px 4px 4px;border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;olor: #404040;padding: 15px;position: relative;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
#content .content .notif {margin-bottom: 10px;}
#content .notif .close {color: #000000;float: right;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 20px;font-weight: bold;line-height: 13.5px;opacity: 0.2;text-decoration: none;text-shadow: 0 1px 0 #FFFFFF;}
#content .notif .close:hover {color: #000000;opacity: 0.4;text-decoration: none;}
#content .notif strong {color: inherit;font-weight: bold;}
#content .notif.success {background-color: #57A957;background-image: -moz-linear-gradient(center top , #62C462, #57A957);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);font: bold 18px arial; width:100%; text-align:center; position:relative; z-index:999;}
#content .notif.error, #content .bloc .notif.error {background-color: #C43C35;background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF !important;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);font: bold 18px arial;}
#content .notif.info {background-color: #339BB9;background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}

/* FORMATAÇÃO DA VALIDAÇÃO DE FORMULÁRIO */
#container .notif {background-color: #EEDC94;background-image: -moz-linear-gradient(center top , #FCEEC1, #EEDC94);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);/*border-radius: 4px 4px 4px 4px;*/border-style: solid;border-width: 1px;box-shadow: 0 1px 0 rgba(255, 255, 255, 0.25) inset;olor: #404040;padding: 15px;position: fixed;text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);}
#container .content .notif {margin-bottom: 10px;}
#container .notif .close {color: #000000;float: right;font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;font-size: 20px;font-weight: bold;line-height: 13.5px;opacity: 0.2;text-decoration: none;text-shadow: 0 1px 0 #FFFFFF;position:relative; right: 470px;}
#container .notif .close:hover {color: #000000;opacity: 0.4;text-decoration: none;}
#container .notif strong {color: inherit;font-weight: bold;}
#container .notif.success {background-color: #57A957;background-image: -moz-linear-gradient(center top , #62C462, #57A957);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);font: bold 18px arial; width:100%; text-align:center; position:relative; z-index:999;}
#container .notif.error, #content .bloc .notif.error {background-color: #C43C35; position: relative; background-image: -moz-linear-gradient(center top , #EE5F5B, #C43C35);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF !important;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);font: bold 18px arial;text-align: center;
width: 100%;z-index: 9999;}
#container .notif.info {background-color: #339BB9;background-image: -moz-linear-gradient(center top , #5BC0DE, #339BB9);background-repeat: repeat-x;border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);color: #FFFFFF;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);}
#container .noticCenter {width:1000px;margin:0 auto;}

/* FOOTER */
#footer-out {position:absolute;width:100%;background:url(../img/bg-footer_out.jpg) repeat-x;}
#footer-in {height:100px;}

a#m3 {background:url(../img/m3.png) no-repeat;width:100px;height:20px;bottom:40px;right:20px;position:absolute;z-index:999;text-indent:-9000em;overflow:hidden;margin:0!important;}

ul#end {position:absolute;left:20px;top:20px;}
ul#end li {font:13px/20px arial;color:#fff;}
ul#end li a {color:#fff;}
ul#end li a:hover {text-decoration:underline;}

/* PÁGINA ERROR */
.pag-error {margin:0 auto;padding-top: 50px;}
.pag-error h1 {font:bold 30px arial;color:#212121;text-align:center;margin:0;padding-bottom:10px;border-bottom:1px solid #fff;}
.pag-error p {font:14px arial;color:#212121;text-align:center;padding-top:10px;border-top:1px solid #C8C8C8;}

/* PAGINAÇÃO */
#paginacao {clear: both;float: right;margin-bottom: 15px;padding: 10px 0;}
#paginacao span.current, span.disabled {background:url(../img/bg-footer_out.jpg) repeat-x;border:1px solid #fff;color:#fff;font-size:14px;padding: 10px 14px;margin:4px;}
#paginacao span a {background: #fff; border: 1px solid #2E2C38;color:#2E2C38;padding: 10px 15px;margin:4px;font-size:14px;}

/* estilo para input de texto para user para dinheiro */
.input-text{ background: #0A3163; border: none; color: white; font: 16px 'Open Sans Condensed', sans-serif;  margin: 0; padding: 5px 3px; width: 62px; height: 24px; float: left; -webkit-appearance: none; border: 1px solid; }

.menuWS {
}
.menuWS ul {
	width:100%;
	display:inline;
}
.menuWS ul li {
	list-style:none;
	position:relative;
}
.menuWS ul li a {
	padding:10px 0;
	border-bottom:1px dotted #b2b2b2
}
.menuWS ul li ul {
	display:none;
	left:200px;
	top:0;
	position:absolute;
	z-index:9;
	background:#eee;
}
.menuWS ul li ul li a:hover {
	background:#bbd9ff url(../img/ico-list2.png) no-repeat 180px 13px;
}

.popup-main{
    position: relative;
}

.popup-overlay{
background: rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
}

.popup-out{
    margin-left: auto;
    z-index: 999999;
    margin-right: auto;
    position: fixed;
    width: 100%;
    top: 0;
}

.popup-inner{
    position: absolute;
    width: 75%;
    height: 100vh;
}

.popup-body{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.popup-body.video{
    max-width: 100%;
}

.popup-body.image{
    max-width: 500px;
}

.popup-body img{
    max-width: 100%;
}

.popup-close{
    position: absolute;
    right: -18px;
    top: -17px;
}
