<h1><?php echo $this->Html->image('/coreadmin/img/icons/lista.png') ?> <?php echo __('Frequentquestions'); ?></h1>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Frequentquestion.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Frequentquestion.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Frequentquestion.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Frequentquestion.id'))); ?>
            </li>
            </ul>
</div>
<div class="bloc clear">
    <div class="content">
        <div>
            <table class="noalt">
                <tbody>
                    <tr>		<td width="100"><h4><?php echo __('Id'); ?></h4></td>
		<td>
			<?php echo $frequentquestion['Frequentquestion']['id']; ?></td>
</tr><tr>		<td><h4><?php echo __('Title'); ?></h4></td>
		<td>
			<?php echo $frequentquestion['Frequentquestion']['title']; ?></td>
</tr><tr>		<td><h4><?php echo __('Answer'); ?></h4></td>
		<td>
			<?php echo $frequentquestion['Frequentquestion']['answer']; ?></td>
</tr>                </tbody>
            </table>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Frequentquestion.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Frequentquestion.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Frequentquestion.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Frequentquestion.id'))); ?>
            </li>
            </ul>
</div>
</br>
</br>
</br>
</br>
</br>

