* { margin: 0; }
html, body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12px; color: #686868; background: #FDFDFD; height: 100%; width: 100%; overflow: hidden; }