<h1><?php echo $this->Html->image('/coreadmin/img/icons/lista.png') ?> <?php echo __('Filestalks'); ?></h1>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Filestalk.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Filestalk.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Filestalk.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Filestalk.id'))); ?>
            </li>
            </ul>
</div>
<div class="bloc clear">
    <div class="content">
        <div>
            <table class="noalt">
                <tbody>
                    <tr>		<td><h4><?php echo __('Id'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['id']; ?></td>
</tr><tr>		<td><h4><?php echo __('Talk'); ?></h4></td>
		<td>
			<?php echo $this->Html->link($filestalk['Talk']['name'], array('controller' => 'talks', 'action' => 'view', $filestalk['Talk']['id'])); ?></td>
</tr><tr>		<td><h4><?php echo __('User'); ?></h4></td>
		<td>
			<?php echo $this->Html->link($filestalk['User']['name'], array('controller' => 'users', 'action' => 'view', $filestalk['User']['id'])); ?></td>
</tr><tr>		<td><h4><?php echo __('Title'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['title']; ?></td>
</tr><tr>		<td><h4><?php echo __('File'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['file']; ?></td>
</tr><tr>		<td><h4><?php echo __('Description'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['description']; ?></td>
</tr><tr>		<td><h4><?php echo __('Created'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['created']; ?></td>
</tr><tr>		<td><h4><?php echo __('Modified'); ?></h4></td>
		<td>
			<?php echo $filestalk['Filestalk']['modified']; ?></td>
</tr>                </tbody>
            </table>
        </div>
        <div class="cb"></div>
    </div>
</div>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?php echo $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title'=>'Voltar')), array('action'=>'index'), array('escape'=>false)); ?>
            <?php echo $this->Html->link(__('Back'), array('action'=>'index')); ?>
        </li>
                    <li>
                <?php echo $this->Form->postLink($this->Html->image('/coreadmin/img/icons/remover.png', array('title'=>'Remover')), array('action' => 'delete', $this->Form->value('Filestalk.id')), array('escape'=>false), __('Are you sure you want to delete # %s?', $this->Form->value('Filestalk.id'))); ?>
                <?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $this->Form->value('Filestalk.id')), null, __('Are you sure you want to delete # %s?', $this->Form->value('Filestalk.id'))); ?>
            </li>
            </ul>
</div>
</br>
</br>
</br>
</br>
</br>

