<div id="sidebar">
	<?php echo $this->element('categorias') ?><!-- CATERGORIAS -->
    <?php echo $this->element('atendimento') ?><!-- ATENDIMENTO -->
    <?php echo $this->element('orcamento') ?><!-- ORÇAMENTO -->
    <?php echo $this->element('newsletter') ?><!-- NEWSLETTER -->
</div><!-- #sidebar -->
<div id="internas">
	<h1>A MD8</h1>

	<?php echo $this->Html->link($this->PhpThumb->thumbnail(DS."uploads".DS.$md8['Md8']['image'], array('w' => 300, 'h' => 198, 'zc' => 1, 'q' => 100), array('class'=>'foto-empresa')), $this->PhpThumb->url(DS."uploads".DS.$md8['Md8']['image'], array('w' => 640, 'h' => 480, 'zc' => 1, 'q' => 100)), array('escape' => false, 'rel' => 'prettyPhoto')) ?>
    
	<?php echo $md8['Md8']['description']; ?>

	<div class="clear">&nbsp;</div>

	<h1>Localização</h1>

    <iframe width="760" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/ms?msa=0&amp;msid=202094267539754965916.0004e23192696c6e3fdd1&amp;ie=UTF8&amp;t=m&amp;ll=-5.796245,-35.211868&amp;spn=0,0&amp;output=embed"></iframe>

</div>