<h1><?= $this->Html->image('/coreadmin/img/icons/lista.png') ?> <?= __('Groups'); ?></h1>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?= $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png', array('title' => 'Voltar')), array('action' => 'index'), array('escape' => false)); ?>
            <?= $this->Html->link(__('Back'), array('action' => 'index')); ?>
        </li>
    </ul>
</div>
<div class="bloc clear">
    <div class="content">
        <?= $this->Form->create('Group', array('type' => 'file')); ?>
        <?= $this->Form->submit('Enviar'); ?><br/>
        <?= $this->Form->input('name'); ?>
        <?= $this->Form->input('active', array('checked' => 'checked')); ?>
        <?= $this->Form->input('login_redirect'); ?>
        <?= $this->Form->input('logout_redirect'); ?>
        <?= $this->Form->end(__('Submit', true)); ?>
    </div>
</div>
<div id="shortcutInternal" class="bloc">
    <ul class="actionsList">
        <li>
            <?= $this->Html->link($this->Html->image('/coreadmin/img/icons/voltar.png'), array('action' => 'index'), array('escape' => false)); ?>
            <?= $this->Html->link(__('Back'), array('action' => 'index')); ?>
        </li>
    </ul>
</div>