* { margin: 0; }
html, body { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; font-family: Arial; font-size: 12px; color: #686868; background: #000000; height: 100%; width: 100%; overflow: hidden; }

a:link, .alink{color: #A8A8A8; }
a:active{color: #A8A8A8; }
a:visited{color: #A8A8A8; }
a:hover{color: #999999; }
.alink{ text-decoration: underline; cursor: pointer; }
.nounder{ text-decoration: none; cursor: pointer; }

.online{ background: #C2FF91; }
.offline{ background: #FFC4BC; }

/* text colors used in various areas */
.text_blue{ color: #205560; }
.text_grey{ color: #BBBBBB; }
.text_trans_view_td{ color: #949494; }

.co, .cv, .ca, .cl, .cn, .cc{ padding: 5px; }
.co{ background: url(chat_cv.png) no-repeat; padding-left: 20px; color: #909091; }
.cv{ background: url(chat_co.png) no-repeat; padding-left: 20px; color: #BEBEBE; }
.ca{ background: transparent; color: #737373; margin-bottom: 5px; }
.cl{ color: #939393; margin-bottom: 5px; }
.cn{ color: #939393; margin-bottom: 5px; }
.ctitle{ font-size: 14px; font-weight: bold; }
.ct{ font-weight: normal; font-size: 10px; } /* timestamp */

#chat_logo{ }
#chat_vname, #chat_vtimer, #chat_vistyping{ color: #686868; }

#chat_canvas{ background: #000000; border-top: 1px solid #DFDFE1; }
.chat_canvas_op{ background-position: 0px 19px; }
.chat_canvas_alert{ background: #CFCFD1 !important; }
#chat_switchboard{ background-position: bottom center; border-bottom: 1px solid transparent; }
.chat_switchboard_cell{ color: #646464; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_focus{ background: #646464; font-weight: bold; color: #E0E0E0; margin-right: 5px; }
.chat_switchboard_cell_bl_red{ background: #FF7676; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }
.chat_switchboard_cell_bl_green{ background: #17C61B; color: #FFFFFF; font-weight: bold; margin-right: 5px; cursor: pointer; }

input[type=text], .input_text, #input_text, select, textarea, #chat_body, #tooltip, .info_box, .info_error, .info_good, .info_warning, .info_neutral, .info_content, .page, .page_focus, .cn, #reconnect_notice, .sound_box_on, .sound_box_off, #div_new_canned, .cl{ -moz-border-radius: 5px; border-radius: 5px; }
#chat_info_td_h{ border-top-left-radius: 5px 5px; -moz-border-radius-topleft: 5px 5px; border-top-right-radius: 5px 5px; -moz-border-radius-topright: 5px 5px; }

#chat_network_img{ opacity: 0.5; filter: alpha(opacity=50); }


.chat_info_wrapper{ }
#chat_info_header{ padding: 3px; }
#chat_info_menu_list{ border-bottom: 1px solid #4B4B4B; }
.chat_info_menu{ float: left; padding: 3px; margin-right: 5px; border-left: 1px solid #4B4B4B; border-right: 1px solid #4B4B4B; cursor: pointer; }
.chat_info_menu_hover, .chat_info_menu_focus{ position: relative; bottom: -1px; float: left; padding: 3px; margin-right: 5px; background: #686868; color: #000000; border-left: 1px solid transparent; border-right: 1px solid transparent; cursor: pointer; }
#chat_info_body{ padding: 5px; background: #000000; }
#chat_info_td_h{ padding: 5px; font-weight: bold; margin-right: 1px; } /* th header */
.chat_info_td_h{ padding: 5px; border-bottom: 1px solid transparent; border-right: 1px solid #4B4B4B; } /* info th */
.chat_info_td{ padding: 5px; border-bottom: 1px solid #000000; }
.chat_info_td_traffic{ padding: 5px; }
.chat_info_td_traffic_info{ padding: 5px; font-weight: bold; }
.chat_info_td_traffic_img{ background: #686868; }
.chat_info_td_blank{ padding: 5px; }
.chat_info_end{ height: 1px; }
.chat_info_tr_traffic_row{ }

.chat_info_link{ cursor: pointer; }

/* for #chat_body don't go past 10px padding or layout error */
#chat_body{ background: #000000; color: #686868; border: 1px solid transparent; }
#chat_button_start{ }

#chat_text_header{ font-size: 18px; font-weight: bold; }
#chat_text_header_sub{ }
#chat_text_powered{ font-size: 10px; }

#chat_footer{ }
.chat_footer_cell{ float: left; padding: 6px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_focus{ float: left; background: #686868; color: #000000; padding: 6px; font-weight: bold; cursor: pointer; }
.chat_footer_cell_noclick{ float: left; padding: 3px; }
#chat_footer_traffic_counter{ padding: 2px; border: 1px solid #555555; color: #989898; }
#chat_extra_wrapper{ background: #000000; }
#chat_extra_title{ background: #000000; color: #909090; border-top: 1px solid #686868; border-bottom: 1px solid #000000; }

.rating_title{ }
.marquee{ font-weight: bold; color: #646464; }

.info_box{ padding: 5px; color: #939393; }
.info_error{ background: #F67975; padding: 5px; color: #FFFFFF; }
.info_good{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.info_neutral{ padding: 5px; }
.info_warning{ background: #FFE8C4; padding: 5px; color: #5A5245; }
.info_content{ background: #000000; padding: 5px; }

.sound_box_on{ background: #43CB00; padding: 5px; color: #FFFFFF; }
.sound_box_off{ background: #F55054; padding: 5px; color: #FFFFFF; }
#div_new_canned{ background: #FBF7B4; padding: 5px; color: #806732; }

.info_disconnect{ padding: 3px; background: #FC8400; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }
.info_disconnect_hover{ padding: 3px; background: #EE3C3C; color: #FFFFFF; border: 1px solid #C36600; border-bottom-left-radius: 5px 5px; -moz-border-radius-bottomleft: 5px 5px; cursor: pointer; }

/* canned messages related */
#chat_cans{ border-right: 1px dotted #686868; }
.chat_cans_text_new{ font-size: 10px; }
#canned_wrapper, #canned_box_new, #footprint_info_wrapper{ background: #000000; padding: 10px;}
#canned_box_new{ padding: 15px; }
#canned_text_title{ color: #686868; font-size: 16px; font-weight: bold; }
#canned_box_oc{ width: 110px; text-align: center; }
#canned_select{ font-size: 10px; border: 1px solid #C5C5C5; }
#canned_select_btn{ font-size: 10px; margin-top: 5px; }

/* status related */
#chat_status{ }
#chat_status_offline{ background: #3F3F3F; }
#chat_status_offline_text{ background: #000000; }
#chat_status_logout{ background: #3F3F3F; width: 100%; }

#chat_network{ border-left: 1px dotted #686868; }
#chat_network_img{ background: url( network.png ) no-repeat; }

/* page related *****/
.page_top_wrapper{ margin-bottom: 15px; }
.page_bottom_wrapper{ margin-top: 15px; }
.page, .page_focus{ float: left; padding: 2px; padding-left: 5px; padding-right: 5px; margin-right: 10px; }
.page{ border: 1px solid #8C8C8C; color: #686868; cursor: pointer; }
.page_focus{ font-weight: bold; }
/* end page related */

.t_tl{ width: 5px; height: 5px; }
.t_tm{ height: 5px; }
.t_tr{ width: 5px; height: 5px; }
.t_ml{ width: 5px; }
.t_mr{ width: 5px; }
.t_bl{ width: 5px; height: 5px; }
.t_bm{ height: 5px; }
.t_br{ width: 5px; height: 5px; }
.t_mm{ padding: 10px; }

#input_text, .input_text, .input_text_search{ color: #999999; background: #000000; border: 1px solid #404040; padding: 2px; }
select{ background: #000000; color: #707070; border: 1px solid #404040; padding: 3px; }

#tooltip { position: absolute; z-index: 3000; background: #FAFAA6; padding: 5px; color: #8B6824; white-space: nowrap; }
#tooltip h3, #tooltip div { margin: 0; }
#btn_initiate{  }

.help_tooltip{ cursor: pointer; }
.help_tooltip_help{ cursor: help; }
#tooltip.urls { }
